<div>
  @if(isLoading()) {
  <div
    class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center"
  >
    <custom-loader [diameter]="50" />
  </div>
  } @else if (error()) {
  <div class="flex justify-center items-center flex-col gap-4 py-5">
    <mat-icon class="text-red-500">error</mat-icon>
    <p class="text-lg font-semibold text-red-500 sm:text-left text-center">
      {{ error() }}
    </p>
    <div class="error-actions">
      <button mat-button (click)="reloadData()">
        <mat-icon class="text-red-500">refresh</mat-icon>
        <span class="text-red-500">Повторити спробу</span>
      </button>
      <button mat-button (click)="goBack()">
        <mat-icon class="text-red-500">arrow_back</mat-icon>
        <span class="text-red-500">Назад до користувачів</span>
      </button>
    </div>
  </div>
  } @else if(user()) {
  <div class="pb-[10px]">
    <button mat-button (click)="goBack()" class="!text-black">
      <mat-icon>arrow_back</mat-icon>
      Назад
    </button>
  </div>

  <mat-card>
    <mat-card-header class="flex items-center gap-[10px] justify-center !pb-5">
      <img
        mat-card-avatar
        [src]="user()?.avatarUrl || 'assets/default-avatar.png'"
        alt="User avatar"
        class="!w-20 !h-20 rounded-full object-cover"
      />
      <div class="flex gap-[5px] flex-col">
        <mat-card-title>{{ user()?.username }}</mat-card-title>
        <mat-card-subtitle>{{ user()?.email }}</mat-card-subtitle>
        <mat-card-subtitle>
          <div class="flex gap-[10px]">
            <app-user-role-chip [role]="user()?.role!"></app-user-role-chip>
            <app-user-status-chip
              [active]="user()?.active!"
            ></app-user-status-chip>
          </div>
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group
        animationDuration="200ms"
        [(selectedIndex)]="selectedTabIndex"
        (selectedIndexChange)="selectedTabIndex.set($event)"
      >
        <mat-tab label="Details">
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon>person</mat-icon>
                <div matListItemTitle>Ім'я користувача</div>
                <div matListItemLine>{{ user()?.username }}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>email</mat-icon>
                <div matListItemTitle>Email</div>
                <div matListItemLine>{{ user()?.email }}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>phone</mat-icon>
                <div matListItemTitle>Телефон</div>
                <div matListItemLine>
                  {{ user()?.phoneNumber || "Not provided" }}
                </div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>school</mat-icon>
                <div matListItemTitle>Приналежність</div>
                <div matListItemLine>{{ user()?.affiliation }}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>calendar_today</mat-icon>
                <div matListItemTitle>Приєднався</div>
                <div matListItemLine>
                  {{ user()?.createdAt | date : "mediumDate" }}
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>

        <mat-tab label="Projects">
          <div>
            @if (userProjects().length > 0) {
            <shared-profile-projects
              [projects]="userProjects()"
              (filters)="onFiltering($event)"
              (pageChange)="onPageChange($event)"
            />
            } @else {
            <div class="flex justify-center items-center flex-col gap-4">
              <mat-icon>folder_off</mat-icon>
              <p
                class="text-lg font-semibold text-black sm:text-start text-center"
              >
                Проектів не знайдено
              </p>
            </div>
            }
          </div>
        </mat-tab>
        <mat-tab label="Statistics">
          <div>
            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon>article</mat-icon>
                <div matListItemTitle>Публікації</div>
                <div matListItemLine>{{ user()?.publicationCount || 0 }}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>copyright</mat-icon>
                <div matListItemTitle>Патенти</div>
                <div matListItemLine>{{ user()?.patentCount || 0 }}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>science</mat-icon>
                <div matListItemTitle>Дослідницькі проекти</div>
                <div matListItemLine>{{ user()?.researchCount || 0 }}</div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    @if(!(user()?.id | isCurrentUser) ){

    <mat-card-actions align="end" class="flex flex-col sm:flex-row gap-[10px]">
      @if(user()?.role === UserRole.USER) {
      <button
        mat-raised-button
        color="primary"
        (click)="promoteUser()"
        [disabled]="isProcessing()"
      >
        <mat-icon>arrow_upward</mat-icon>
        Підвищити до адміністратора
      </button>
      } @if(user()?.role === UserRole.ADMIN) {
      <button
        mat-raised-button
        color="warn"
        (click)="demoteUser()"
        [disabled]="isProcessing()"
      >
        <mat-icon>arrow_downward</mat-icon>
        Понизити до користувача
      </button>
      } @if(user()?.active) {
      <button
        mat-raised-button
        color="warn"
        (click)="deactivateUser()"
        [disabled]="isProcessing()"
      >
        <mat-icon>toggle_off</mat-icon>
        Деактивувати
      </button>
      } @else {
      <button
        mat-raised-button
        color="primary"
        (click)="reactivateUser()"
        [disabled]="isProcessing()"
      >
        <mat-icon>toggle_on</mat-icon>
        Реактивувати
      </button>
      }

      <button
        mat-raised-button
        color="warn"
        (click)="deleteUser()"
        [disabled]="isProcessing()"
      >
        <mat-icon>delete</mat-icon>
        Видалити
      </button> </mat-card-actions
    >}
  </mat-card>
  }
</div>
