<header>
  <mat-toolbar class="header-toolbar">
    <div class="header-toolbar__inner">
      <button
        mat-icon-button
        aria-label="Menu icon"
        (click)="onSidebarToggle()"
        [ngStyle]="isSidebarOpened() ? { backgroundColor: '#c4c4c4' } : {}"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <img src="logo.png" alt="logo" style="height: 100%" />
    </div>
    <h3>{{ headerTitle }}</h3>
    <app-profile-dropdown
      [userEmail]="'dmytro.krapyvianskyi@gmail.com'"
    ></app-profile-dropdown>
  </mat-toolbar>
</header>
