<form
  [formGroup]="generalInformationForm()"
  class="project-general-information__form"
>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="Creation of a new graphics render model"
      formControlName="title"
    />
  </mat-form-field>
  <div style="display: flex; flex-direction: column">
    <mat-label>Progress</mat-label>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete>
      <input
        matSliderThumb
        [formControl]="generalInformationForm().controls.progress"
      />
    </mat-slider>
  </div>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="A new model for the graphics render"
      formControlName="description"
      style="resize: none"
      rows="4"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-select formControlName="tags" multiple [compareWith]="compareTags">
      @for (tag of tags$ | async; track tag.id) {
      <mat-option [value]="tag.id">{{ tag.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <general-information-file-upload-list
    [uploadedFiles]="uploadedFiles"
    [pendingFiles]="pendingFiles"
    [isUploading]="isUploading"
    [uploadProgress]="uploadProgress"
    (uploadRequested)="uploadFiles()"
    (filesSelected)="onFilesSelected($event)"
    (removeFile)="removeFile($event.index, $event.isPending)"
  />
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button
      mat-button
      matStepperNext
      [disabled]="generalInformationForm().invalid"
    >
      Next
    </button>
  </div>
</form>
