<form
  [formGroup]="generalInformationForm()"
  class="project-general-information__form"
>
  <mat-form-field>
    <mat-label>Назва</mat-label>
    <input
      matInput
      placeholder="Створення нової моделі рендерингу графіки"
      formControlName="title"
    />
    @if (generalInformationForm().controls.title.invalid &&
    generalInformationForm().controls.title.touched) {
    <mat-error class="h-full">{{ formErrors.title.required }}</mat-error>
    }
  </mat-form-field>
  <div style="display: flex; flex-direction: column">
    <mat-label>Прогрес</mat-label>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete>
      <input
        matSliderThumb
        [formControl]="generalInformationForm().controls.progress"
      />
    </mat-slider>
  </div>
  <mat-form-field>
    <mat-label>Опис</mat-label>
    <textarea
      matInput
      placeholder="Нова модель для рендерингу графіки"
      formControlName="description"
      style="resize: none"
      rows="4"
    ></textarea>
    @if (generalInformationForm().controls.description.invalid &&
    generalInformationForm().controls.description.touched) {
    <mat-error class="h-full">{{ formErrors.description.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Теги</mat-label>
    <mat-select formControlName="tags" multiple [compareWith]="compareTags">
      @for (tag of tags$ | async; track tag.id) {
      <mat-option [value]="tag.id">{{ tag.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if(isFilesLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
  <general-information-file-upload-list
    [uploadedFiles]="uploadedFiles"
    [pendingFiles]="pendingFiles"
    [isUploading]="isUploading"
    [isEditing]="isEditing()"
    [uploadProgress]="uploadProgress"
    (uploadRequested)="uploadFiles()"
    (filesSelected)="onFilesSelected($event)"
    (removeFile)="removeFile($event.index, $event.isPending)"
  />
  }

  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button
      mat-button
      matStepperNext
      [disabled]="generalInformationForm().invalid"
    >
      Далі
    </button>
  </div>
</form>
