<div class="comment">
  <div class="comment-avatar">
    <img
      class="comment-avatar__img"
      src="https://ocdn.eu/pulscms-transforms/1/CUYk9kuTURBXy9mMDFlODIxMi04NmE2LTRjMWEtYTgzMC01OGQxN2MxYzU5YzYuanBlZ5KaCs0B4M0BDigAAABLFBSTBc0B4M0BDt4AA6EwAaExAaEzww"
      alt="avatar"
    />
  </div>

  <div class="comment-box">
    <div class="comment-head">
      <div>
        <h6 class="comment-name by-author">
          <a class="comment-name__link" href="#">Remigiusz Mróz</a>
        </h6>
        <span class="comment-name__time">20 minutes age</span>
      </div>
      <div>
        <mat-icon>reply</mat-icon>
        <mat-icon>favorite</mat-icon>
      </div>
    </div>
    <div class="comment-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis
      animi et iure laudantium vitae, praesentium optio, sapiente distinctio
      illo?
    </div>
  </div>
</div>
