<div class="comment" [class.reply]="isReply()">
  <div class="comment-header">
    <img
      [src]="comment().userAvatarUrl || 'assets/default-avatar.jpg'"
      alt="User avatar"
      class="comment-avatar"
    />
    <div class="comment-user-info">
      <span class="comment-username">{{ comment().userName }}</span>
      <span class="comment-date">{{
        comment().createdAt | date : "medium"
      }}</span>
    </div>
  </div>

  <div class="comment-content">
    @if (!isEditing()) {
    <p>{{ comment().content }}</p>
    } @else {
    <textarea
      [(ngModel)]="editedContent"
      class="comment-edit-textarea"
    ></textarea>
    <div class="comment-edit-actions">
      <button (click)="onCancel()" mat-raised-button>
        <mat-icon>cancel</mat-icon> Cancel
      </button>
      <button (click)="onSave()" mat-raised-button>
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
    }
  </div>

  @if (!isEditing()) {
  <div class="comment-actions">
    @if (!isCurrentUserComment()) {
    <button (click)="onReply()" class="comment-action">
      <mat-icon>reply</mat-icon> Reply
    </button>
    }
    <button
      (click)="onLikeToggle()"
      class="comment-action like-button"
      [disabled]="isLiking() || isCurrentUserComment()"
      [class.liked]="comment().likedByCurrentUser"
      [class.disabled]="comment().userId === currentUserId()"
    >
      <mat-icon>{{
        comment().likedByCurrentUser ? "favorite" : "favorite_border"
      }}</mat-icon>
      @if(!isLiking()) {
      <span> {{ comment().likes }} </span>
      } @else {
      <span>Processing...</span>
      }
    </button>
    @if (isCurrentUserComment()) {

    <button (click)="onEdit()" class="comment-action">
      <mat-icon>edit</mat-icon> Edit
    </button>
    <button (click)="onDelete()" class="comment-action">
      <mat-icon>delete</mat-icon> Delete
    </button>
    }
  </div>
  }
</div>
