<mat-tab-group>
  @if (!error()) {
  <div class="text-lg font-semibold text-red-500 sm:text-start text-center">
    {{ error() }}
  </div>
  } @if (loading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @if (!error() && !loading()) {
  <mat-tab label="Публікації">
    <shared-profile-projects
      [projects]="publications()"
      [pageSize]="tabPagination().publications.pageSize"
      [currentPage]="tabPagination().publications.currentPage"
      [totalItems]="totalPublications()"
      (pageChange)="onPageChange($event, 'publications')"
      [isFiltered]="false"
      type="publications"
    />
  </mat-tab>

  <mat-tab label="Патенти">
    <shared-profile-projects
      [projects]="patents()"
      [pageSize]="tabPagination().patents.pageSize"
      [currentPage]="tabPagination().patents.currentPage"
      [totalItems]="totalPatents()"
      (pageChange)="onPageChange($event, 'patents')"
      [isFiltered]="false"
      type="patents"
    />
  </mat-tab>

  <mat-tab label="Дослідницькі проекти">
    <shared-profile-projects
      [projects]="researches()"
      [pageSize]="tabPagination().researches.pageSize"
      [currentPage]="tabPagination().researches.currentPage"
      [totalItems]="totalResearches()"
      (pageChange)="onPageChange($event, 'researches')"
      [isFiltered]="false"
      type="researches"
    />
  </mat-tab>

  <mat-tab label="Співавтори">
    <user-collaborators [userId]="user().id" />
  </mat-tab>

  <mat-tab label="Контактна інформація">
    <user-contact-information [user]="user()" />
  </mat-tab>
  }
</mat-tab-group>
