<mat-tab-group>
  @if (error()) {
  <div class="error-message">
    {{ error() }}
  </div>
  } @if (loading()) {
  <div class="loading-spinner">Loading...</div>
  } @if (!error() && !loading()) {
  <mat-tab label="Publications">
    <shared-profile-projects
      [projects]="publications()"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
      [isFiltered]="false"
      type="publications"
    />
  </mat-tab>

  <mat-tab label="Patents">
    <shared-profile-projects
      [projects]="patents()"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
      [isFiltered]="false"
      type="patents"
    />
  </mat-tab>

  <mat-tab label="Research Projects">
    <shared-profile-projects
      [projects]="researches()"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
      [isFiltered]="false"
      type="researches"
    />
  </mat-tab>

  <mat-tab label="Collaborators">
    <user-collaborators [userId]="user().id" />
  </mat-tab>

  <mat-tab label="Contact information">
    <user-contact-information [user]="user()" />
  </mat-tab>
  }
</mat-tab-group>
