<div class="verification-code">
  <div class="verification-code__inner">
    <h3 class="verification-code__title">
      Введіть код, який ми відправили на Вашу пошту
    </h3>
    <div class="verification-code__inputs">
      @for (_ of [0,1,2,3,4,5]; track $index) {
      <input
        class="verification-code__inputs-item"
        type="text"
        maxlength="1"
        (keydown)="onKeyDown($event)"
        (keyup)="goToNextInput($event, $index)"
        (focus)="onFocus($event)"
      />
      }
    </div>
    <shared-custom-button
      type="submit"
      [disabled]="inputValues.length !== 6"
      (onPress)="onSubmit()"
      >Відправити</shared-custom-button
    >
  </div>
</div>
