<div class="relative max-w-full">
  <div>
    <h3 class="pb-[10px] text-center md:text-base text-sm">
      Введіть код, який ми відправили на Вашу пошту
    </h3>
    <div class="flex max-w-full pb-[30px]">
      @for (_ of inputValues(); track $index) {
      <input
        class="w-[16.6666666667%] my-0 mx-[5px] text-center lg:leading-[80px] md:leading-[72px] leading-[65px] lg:text-[50px] md:text-[42px] text-[35px] border border-solid border-[#ccc] outline-none transition-all duration-200 ease-in-out rounded-[3px] focus:border-[#001a80] selection:bg-transparent [box-shadow:0_0_5px_#ccc_inset] selection:[box-shadow:0_0_5px_rgb(28,0,128)_inset]"
        type="text"
        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        (keydown)="handleKeyDown($event)"
        (keyup)="handleKeyUp($event, $index)"
        (focus)="handleFocus($event)"
        [value]="inputValues()[$index]"
        [disabled]="isLoading()"
      />
      }
    </div>
    <shared-custom-button
      type="button"
      [disabled]="getVerificationCode().length !== 6 || isLoading()"
      (onPress)="onSubmit()"
    >
      @if (isLoading()) {
      <span class="spinner"></span>
      } @else { Відправити }</shared-custom-button
    >
  </div>
  @if(verificationMessage()) {
  <div [class.error]="verificationMessage().includes('Invalid')">
    {{ verificationMessage() }}
  </div>
  }
</div>
