<div class="verification-code">
  <div class="verification-code__inner">
    <h3 class="verification-code__title">
      Введіть код, який ми відправили на Вашу пошту
    </h3>
    <div class="verification-code__inputs">
      @for (_ of inputValues(); track $index) {
      <input
        class="verification-code__inputs-item"
        type="text"
        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        (keydown)="handleKeyDown($event)"
        (keyup)="handleKeyUp($event, $index)"
        (focus)="handleFocus($event)"
        [value]="inputValues()[$index]"
      />
      }
    </div>
    <shared-custom-button
      type="button"
      [disabled]="getVerificationCode().length !== 6"
      (onPress)="onSubmit()"
      >Відправити</shared-custom-button
    >
  </div>
  @if(verificationMessage()) {
  <div
    class="verification-code__message"
    [class.error]="verificationMessage().includes('Invalid')"
  >
    {{ verificationMessage() }}
  </div>
  }
</div>
