<div
  class="profile-dropdown__wrapper"
  clickOutside
  (clickOutside)="closeProfile()"
>
  <div class="profile-dropdown__container">
    <div class="dropdown-container">
      <div class="dropdown-toggler" (click)="toggleProfile()">
        <img
          [src]="getAvatarUrl()"
          alt="avatar"
          class="dropdown-toggler__image"
        />
      </div>
      @if(isProfileOpened()) {
      <div
        class="dropdown p-[15px] w-[250px] absolute right-0 top-[70px] text-sm leading-4 z-50 text-[#7a7a7a] bg-[#f1f1f1]"
      >
        <div class="dropdown-user-info">
          <img [src]="getAvatarUrl()" alt="User avatar" class="user-avatar" />
          <div class="user-details">
            <h5 class="user-name">{{ currentUser()?.username || "User" }}</h5>
            <p class="user-email">
              {{ currentUser()?.email || "" | truncateText : 22 : false }}
            </p>
          </div>
        </div>

        <mat-divider></mat-divider>

        <nav class="dropdown-menu">
          @for (item of profileMenuItems; track $index) {
          <a
            class="dropdown-item"
            [routerLink]="item.link"
            (click)="closeProfile()"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.title }}</span>
          </a>
          }
        </nav>

        <mat-divider></mat-divider>

        <button class="dropdown-item logout-button" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </div>
      }
    </div>
  </div>
</div>
