.dropdown {
  background: #f1f1f1;
  color: rgb(122, 122, 122);
  padding: 15px;
  width: 400px;
  position: absolute;
  right: 0px;
  top: 70px;
  font-size: 14px;
  line-height: 18px;
  z-index: 50;

  &-toggler {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    width: 100%;
    height: 100%;
  }

  &-item {
    display: flex;
    margin-bottom: 0.25rem;
    gap: 1.25rem;

    & a,
    & button {
      flex-grow: 1;
      cursor: pointer;
      color: inherit;
      text-decoration: none;
      padding: 8px 5px;
      text-align: center;
      background-color: transparent;
      outline: none;
      border: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &-wrapper {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    .dropdown-img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  &-email {
    font-weight: 700;
    font-size: 1em;

    &__wrapper {
      padding-bottom: 0.5rem;
      text-align: left;
    }
  }
}

.profile-dropdown {
  width: 250px;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
}

.user-actions__list {
  li {
    &:hover {
      background-color: #303030;
      color: #fff;
    }
  }
}

@media (max-width: 1030px) {
  .dropdown {
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 640px) {
  .dropdown {
    top: 30px;
    left: 0;
  }
}
