<div>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 20px 0;
    "
  >
    <mat-form-field style="display: flex; width: 100%">
      <mat-label>User search</mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchControl"
        style="display: flex; width: 100%"
      />
      @if (searchControl.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchControl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
  <p style="font-weight: 700">All Users: {{ users.length }}</p>
  <div style="height: 100%">
    <shared-users-list
      [paginationService]="paginationService"
      [pages]="pages"
    />
  </div>
</div>
