<div class="users">
  <div class="users__form">
    <mat-form-field>
      <mat-label>Search users by name or email</mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchControl"
        class="users__form-field__input"
      />
      @if (searchControl.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchControl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
  @if (searchQuery) {

  <p class="users__paragraph">
    Search results for: "<strong>{{ searchQuery }}</strong
    >": {{ users.length }} of {{ totalElements }} users found
  </p>
  } @else {
  <p class="users__paragraph">All Users: {{ users.length }}</p>
  } @if (users && users.length > 0) {
  <div class="users__list">
    @for (user of users; track user) {
    <shared-user-card [user]="user" />
    }
  </div>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    (page)="onPageChange($event.pageIndex)"
    aria-label="Select page"
  ></mat-paginator>
  } @else {
  <p class="users__list__empty">
    @if (searchQuery) { No users found for: <strong>{{ searchQuery }}</strong
    >} @else { No users found }
  </p>
  }
</div>
