@let users = users$ | async;
<div class="users">
  <div class="users__form">
    <mat-form-field>
      <mat-label>User search</mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchControl"
        class="users__form-field__input"
      />
      @if (searchControl.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchControl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
  <p class="users__paragraph">All Users: {{ users?.length }}</p>
  <div class="users__list">
    @for (user of users; track user) {
    <shared-user-card [user]="user" />

    }
  </div>
</div>
