.profile {
  &__top {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    &-wrapper {
      width: 250px;
      height: 250px;
      flex-shrink: 0;
      position: relative;
    }

    &-input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__info {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 200px;
    flex-wrap: wrap;
    &-text {
      font-size: 20px;
      line-height: 26px;
    }

    &-phone {
      display: flex;
      height: 50px;
      gap: 5px;
      align-items: center;
      padding-top: 10px;
    }
  }

  &__form {
    // display: flex;
    // flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;

    &-fields {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    // &-actions {
    //   display: flex;
    //   justify-content: center;
    // }
  }
}
