<div class="profile__container">
  <div class="profile__top">
    @if (user()) {
    <profile-avatar
      [avatarUrl]="user()?.avatarUrl ?? ''"
      [isLoading]="isLoading()"
      (avatarUpload)="onAvatarUpload($event)"
    />

    @if(!editMode()) {
    <profile-view [user]="user()!" (edit)="onEdit()" />
    } @else {
    <profile-edit
      [user]="user()!"
      [isLoading]="isLoading()"
      (save)="onSave($event)"
      (cancel)="onCancel()"
    />
    } } @else {
    <div class="profile-loading">
      <mat-progress-bar
        mode="indeterminate"
        style="width: 100%"
      ></mat-progress-bar>
    </div>
    }
  </div>
</div>
