<div style="padding-bottom: 20px">
  <h2 style="text-align: center; padding-bottom: 20px">Quick Actions</h2>
  <div style="display: flex; gap: 20px; justify-content: center">
    <button mat-raised-button color="primary" (click)="addNewProject()">
      Add New Project
    </button>
    <button mat-raised-button color="accent" (click)="reviewFlaggedContent()">
      Review Flagged Content
    </button>
    <button mat-raised-button color="accent" (click)="reviewPendingApprovals()">
      Review Pending Approvals
    </button>
    <button mat-raised-button color="warn" (click)="generateReports()">
      Generate Reports
    </button>
  </div>
</div>
