<h2 mat-dialog-title>Invite New Admit</h2>
<mat-dialog-content>
  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        required
        autocomplete="off"
        type="email"
      />
      <mat-icon matSuffix>email</mat-icon>
      @if(inviteForm.get('email')?.hasError('required')){
      <mat-error>Email is required</mat-error>
      } @if(inviteForm.get('email')?.hasError('email')){
      <mat-error>Please entere a valid email</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="inviteForm.invalid || isLoading"
    (click)="onSubmit()"
  >
    @if(isLoading()) {
    <mat-spinner diameter="20"></mat-spinner>
    } @else { Send Invitation }
  </button>
</mat-dialog-actions>
