<div>
  <h1 class="text-xl md:text-2xl font-semibold text-center pb-3 md:pb-5">
    Реєстрація користувача
  </h1>

  @if (serverError()) {
  <div
    class="w-full h-5 flex items-center justify-center gap-2 py-5 bg-red-500 mb-[15px]"
  >
    <mat-icon color="warn">error</mat-icon>
    <span class="text-black">{{ serverError() }}</span>
  </div>
  }

  <form
    class="flex flex-col md:gap-[10px] gap-5 md:pb-5 pb-3"
    [formGroup]="signUpForm"
    (ngSubmit)="onSignUp()"
    [class.disabled]="formDisabled()"
  >
    <mat-form-field>
      <mat-label>Імʼя та прізвище</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        [disabled]="formDisabled()"
      />
      @if (this.signUpForm.controls.name.invalid &&
      (this.signUpForm.controls.name.touched ||
      this.signUpForm.controls.name.dirty)) {
      <mat-error>{{ errorMessages.name() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        [disabled]="formDisabled()"
      />
      @if (this.signUpForm.controls.email.invalid) {
      <mat-error>{{ errorMessages.email() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        [disabled]="formDisabled()"
      />
      @if (this.signUpForm.controls.password.invalid &&
      (this.signUpForm.controls.password.touched ||
      this.signUpForm.controls.password.dirty)) {
      <mat-error>{{ errorMessages.password() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Підтвердіть пароль</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        [disabled]="formDisabled()"
      />
      @if (this.signUpForm.controls.confirmPassword.invalid &&
      (this.signUpForm.controls.confirmPassword.touched ||
      this.signUpForm.controls.confirmPassword.dirty)) {
      <mat-error>{{ errorMessages.confirmPassword() }}</mat-error>
      }
    </mat-form-field>
    <shared-custom-button
      type="submit"
      [disabled]="signUpForm.invalid || formDisabled()"
      [isLoading]="isLoading()"
      class="mt-5"
    >
      Зареєструватися</shared-custom-button
    >
  </form>
  <p class="text-center md:text-base text-sm">
    Вже маєте аккаунт?
    <a class="font-bold" routerLink="/authentication/sign-in">Авторизуватися</a>
  </p>
</div>
