.sign-up {
  &__title {
    text-align: center;
    padding-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;

    &-btn {
      text-transform: uppercase;
    }
  }
  &__link {
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}
