<div class="notifications">
  <h3 class="notifications-title">Notifications</h3>
  <div class="notifications-container">
    @for (notification of notifications; track $index) {
    <a
      (click)="openNotification(notification.id)"
      class="notifications-item__link"
    >
      <div
        [id]="notification.id"
        class="notifications-item"
        [ngStyle]="{
          'border-color':
            notification.type === 'info'
              ? '#2196F3'
              : notification.type === 'warning'
              ? '#FFC107'
              : notification.type === 'success'
              ? '#4CAF50'
              : notification.type === 'error'
              ? '#F44336'
              : '#000000'
        }"
      >
        <mat-icon
          [ngClass]="{
            read: notification.isRead,
            high: notification.priority === 'high',
            medium: notification.priority === 'medium',
            low: notification.priority === 'low'
          }"
          >{{ notification.isRead ? "check" : "notifications" }}</mat-icon
        >
        <div class="notifications-item__content">
          <h4
            class="notifications-item__content-title"
            [ngClass]="{
              high: notification.priority === 'high',
              medium: notification.priority === 'medium',
              low: notification.priority === 'low'
            }"
          >
            {{ notification.title }}
          </h4>
          <p class="notifications-item__content-message">
            {{ notification.message | truncateText : 50 }}
          </p>
          <p class="notifications-item__content-timestamp">
            {{ notification.timestamp | date : "MMM d, y, h:mm a" }}
          </p>
        </div>
      </div>
    </a>
    }
  </div>
</div>
