@let allUsers = allUsers$ | async;
<form
  [formGroup]="researchProjectsForm()"
  class="flex flex-col gap-[10px] py-[15px]"
>
  <mat-form-field>
    <mat-label>Учасники</mat-label>
    <mat-select
      formControlName="participantIds"
      multiple
      [compareWith]="compareParticipants"
    >
      @for (participant of allUsers; track participant) {
      <mat-option [value]="participant.id">{{
        participant.username
      }}</mat-option>
      }
    </mat-select>
    @if (researchProjectsForm().controls.participantIds.invalid &&
    researchProjectsForm().controls.participantIds.touched) {
    <mat-error>{{ formErrors.participantIds.required }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Бюджет</mat-label>
    <input
      type="number"
      placeholder="1000000"
      matInput
      formControlName="budget"
    />
    @if (researchProjectsForm().controls.budget.invalid &&
    researchProjectsForm().controls.budget.touched) {
    <mat-error>{{ formErrors.budget.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дата початку</mat-label>
    <input matInput [matDatepicker]="pickerFirst" formControlName="startDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerFirst"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerFirst></mat-datepicker>
    <shared-form-error
      [control]="researchProjectsForm().controls.startDate"
      [errors]="[
        { key: 'required', message: formErrors.startDate.required },
        { key: 'beforeEnd', message: formErrors.startDate.beforeEnd }
      ]"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дата завершення</mat-label>
    <input matInput [matDatepicker]="pickerSecond" formControlName="endDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerSecond"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerSecond></mat-datepicker>
    <shared-form-error
      [control]="researchProjectsForm().controls.endDate"
      [errors]="[
        { key: 'required', message: formErrors.endDate.required },
        { key: 'beforeStart', message: formErrors.endDate.beforeStart }
      ]"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Статус</mat-label>
    <mat-select formControlName="status" [compareWith]="compareStatuses">
      @for (status of statuses; track status) {
      <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
      }
    </mat-select>
    @if (researchProjectsForm().controls.status.invalid &&
    researchProjectsForm().controls.status.touched) {
    <mat-error>{{ formErrors.status.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Джерело фінансування</mat-label>
    <input
      type="text"
      placeholder="U.S. Small Business Administration (SBA)"
      matInput
      formControlName="fundingSource"
      [value]="researchProjectsForm().controls.fundingSource.value"
    />
    @if (researchProjectsForm().controls.fundingSource.invalid &&
    researchProjectsForm().controls.fundingSource.touched) {
    <mat-error>{{ formErrors.fundingSource.required }}</mat-error>
    }
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Назад</button>
    <button
      mat-button
      matStepperNext
      [disabled]="researchProjectsForm().invalid"
    >
      Далі
    </button>
  </div>
</form>
