@let notification = notificationItemSig();

<mat-list-item class="notification-item" role="listitem">
  <div class="notification-item__container">
    <div>
      <mat-icon
        [ngClass]="{
          read: notification.isRead,
          high: notification.priority === 'high',
          medium: notification.priority === 'medium',
          low: notification.priority === 'low'
        }"
      >
        {{ notification.isRead ? "check" : "notifications" }}
      </mat-icon>
    </div>
    <div class="notification-item__content">
      <div>
        <h4>{{ notification.title }}</h4>
        <p>{{ notification.message }}</p>
        <p>{{ notification.timestamp | date : "dd/MM/yyyy HH:mm" }}</p>
        <mat-chip-set>
          @for (tag of notification.tags; track tag) {
          <mat-chip>{{ tag }}</mat-chip>
          }
        </mat-chip-set>
      </div>
      <div class="notification-item__btns">
        @if(!notification.isRead) {
        <button mat-button (click)="onMarkAsRead()">Mark as Read</button>
        }
        <button mat-button cdkFocusInitial (click)="onItemAction()">
          {{ notification.action.label }}
        </button>
        <button mat-button (click)="onItemDelete()">Delete</button>
      </div>
    </div>
  </div>
</mat-list-item>
