<div>
  <h2 class="text-xl font-semibold pb-[10px] sm:text-start text-center">
    Profile Information
  </h2>

  <div>
    <div class="flex gap-10 pb-10">
      <div class="flex flex-col gap-[10px]">
        <h3 class="text-lg font-semibold pb-[10px] sm:text-start text-center">
          Basic Information
        </h3>
        <p><span class="font-medium">Name:</span> {{ user().username }}</p>
        <p><span class="font-medium">Email:</span> {{ user().email }}</p>
        <p><span class="font-medium">Role:</span> {{ user().role }}</p>
        <p><span class="font-medium">Type:</span> {{ user().userType }}</p>

        @if (user().userType === 'student') {
        <p>
          <span class="font-medium">Group:</span>
          {{ user().universityGroup || "Not specified" }}
        </p>
        }
        <p>
          <span class="font-medium">Date of Birth:</span>
          {{ (user().dateOfBirth | date : "longDate") || "Not provided" }}
        </p>

        <p>
          <span class="font-medium">Phone:</span>
          {{ user().phoneNumber || "Not provided" }}
        </p>
      </div>
      @if (socialLinks.length>0) {
      <div class="flex flex-col gap-[10px]">
        <h3 class="text-lg font-semibold pb-[10px] sm:text-start text-center">
          Social Links
        </h3>
        @for (link of socialLinks; track $index) {
        <p>
          <span class="font-medium">{{
            link.name || "Link " + ($index + 1)
          }}</span
          >:
          <a [href]="link.url" target="_blank" rel="noopener noreferrer">{{
            link.url
          }}</a>
        </p>
        }
      </div>
      }
    </div>
    <button mat-flat-button color="primary" (click)="onEdit()" class="w-full">
      Edit
    </button>
  </div>
</div>
