<div class="profile__info">
  <h2 class="profile__header">Profile Information</h2>

  <div class="profile__info-section">
    <p class="profile__info-text">Name: {{ user().username }}</p>
    <p class="profile__info-text">Email: {{ user().email }}</p>
    <p class="profile__info-text">Role: {{ user().role }}</p>
    <p class="profile__info-text">Type: {{ user().userType }}</p>

    @if (user().userType === 'student') {
    <p class="profile__info-text">
      Group: {{ user().universityGroup || "Not specified" }}
    </p>
    }
    <p class="profile__info-text">
      Date of Birth:
      {{ (user().dateOfBirth | date : "longDate") || "Not provided" }}
    </p>

    <p class="profile__info-text">
      Phone: {{ user().phoneNumber || "Not provided" }}
    </p>

    <button
      mat-flat-button
      color="primary"
      (click)="onEdit()"
      style="width: 100%"
    >
      Edit
    </button>
  </div>
</div>
