<!-- <div class="search-users">
  <div class="search-users__form-container">
    <h3 class="search-users__form-title">Users</h3>

    <form [formGroup]="userForm" class="search-users__form">
      <mat-form-field class="search-users__form-item"
        ><input matInput placeholder="Name" formControlName="name"
      /></mat-form-field>
      <mat-form-field class="search-users__form-item"
        ><input matInput placeholder="Email" formControlName="email"
      /></mat-form-field>
      <mat-form-field class="search-users__form-item">
        <input matInput placeholder="Role" formControlName="role"
      /></mat-form-field>
      <button
        class="search-users__form-btn"
        mat-raised-button
        color="primary"
        (click)="searchUsers()"
      >
        Search
      </button>
    </form>
  </div>
  <div>
    <shared-users-list
      [paginationService]="paginationService"
      [pages]="pages"
      type="general"
    />
  </div>
</div> -->
