.search-users {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__form {
    display: flex;
    gap: 20px;
    align-items: center &-title {
      text-align: center;
      padding-bottom: 10px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}
