@if (error()) {
<div class="py-5">
  <div class="flex justify-center items-center flex-col gap-4">
    <mat-icon class="text-red-500">error_outline</mat-icon>
    <p class="text-lg font-semibold text-red-500 sm:text-left text-center">
      {{ error() }}
    </p>
    <button mat-button (click)="loadData()">
      <mat-icon class="text-red-500">refresh</mat-icon>
      <span class="text-red-500">Спробуйте ще раз</span>
    </button>
  </div>
</div>
} @else if (loading()) {
<div class="flex justify-center items-center py-5">
  <custom-loader [diameter]="60" />
</div>
} @else if (systemOverview() || userGrowth() || projectDistribution()) {
<div>
  <div
    class="flex gap-3 my-5 items-center sm:justify-between justify-center sm:flex-row flex-col"
  >
    <h2 class="text-xl font-bold sm:text-start text-center">Огляд системи</h2>
    <button mat-icon-button (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-5">
    @if (systemOverview(); as overview) {
    <div class="bg-white p-6 rounded-lg shadow-md">
      <div class="flex flex-wrap gap-10 sm:justify-between justify-center">
        <div
          class="flex justify-center gap-[15px] items-center"
          matTooltip="Total registered users"
        >
          <mat-icon>people</mat-icon>
          <div class="flex flex-col items-center">
            <h3 class="text-2xl font-bold">{{ overview.totalUsers }}</h3>
            <p class="font-medium">Кількість користувачів</p>
          </div>
        </div>
        <div
          class="flex justify-center gap-[15px] items-center"
          matTooltip="Users active in last 30 days"
        >
          <mat-icon>person</mat-icon>
          <div class="flex flex-col items-center">
            <h3 class="text-2xl font-bold">{{ overview.activeUsers }}</h3>
            <p class="font-medium">Активні користувачі</p>
          </div>
        </div>
        <div
          class="flex justify-center gap-[15px] items-center"
          matTooltip="All projects in the system"
        >
          <mat-icon>folder</mat-icon>
          <div class="flex flex-col items-center">
            <h3 class="text-2xl font-bold">
              {{ overview.totalProjects }}
            </h3>
            <p class="font-medium">Всього проектів</p>
          </div>
        </div>
        <div
          class="flex justify-center gap-[15px] items-center"
          matTooltip="Current active sessions"
        >
          <mat-icon>wifi</mat-icon>
          <div class="flex flex-col items-center">
            <h3 class="text-2xl font-bold">
              {{ overview.activeSessions }}
            </h3>
            <p class="font-medium">Активні сесії</p>
          </div>
        </div>
      </div>
    </div>
    } @else {
    <custom-loader [diameter]="40" />
    }

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h3 class="text-lg font-semibold sm:text-start text-center pb-5">
        Зростання кількості користувачів
      </h3>

      <div>
        <ngx-charts-line-chart
          *ngIf="userGrowthChart$ | async as chartData; else loadingUserGrowth"
          [results]="chartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Date"
          yAxisLabel="New Users"
          scheme="cool"
          [animations]="true"
        >
        </ngx-charts-line-chart>

        <ng-template #loadingUserGrowth>
          <custom-loader [diameter]="40" />
        </ng-template>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h3 class="text-lg font-semibold sm:text-start text-center pb-5">
        Розподіл проектів
      </h3>

      <div>
        <ngx-charts-pie-chart
          *ngIf="
            projectDistributionChart$ | async as chartData;
            else loadingProject
          "
          [results]="chartData"
          [labels]="true"
          [doughnut]="true"
          scheme="vivid"
          [animations]="true"
        >
        </ngx-charts-pie-chart>

        <ng-template #loadingProject>
          <custom-loader [diameter]="40" />
        </ng-template>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="py-5">
  <div class="flex justify-center items-center flex-col gap-4">
    <mat-icon>info</mat-icon>
    <p class="text-lg font-semibold text-black sm:text-start text-center">
      Дані недоступні
    </p>
    <button mat-button (click)="loadData()">
      <mat-icon>refresh</mat-icon>
      Завантажити дані
    </button>
  </div>
</div>
}
