<div style="padding-bottom: 20px">
  <h2 style="text-align: center; padding-bottom: 20px">
    Metrics and Statistics
  </h2>
  <div style="display: flex; flex-direction: column; gap: 20px">
    <div style="display: flex; flex-direction: column; gap: 15px">
      <h3>User Metrics</h3>
      <ul style="list-style: none; display: flex; gap: 15px; overflow: scroll">
        @for (item of userMetrics; track $index) {
        <li class="dashboard-metric-card__list-item">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
    <div style="display: flex; flex-direction: column; gap: 15px">
      <h3>Content Metrics</h3>
      <ul style="list-style: none; display: flex; gap: 15px; overflow: scroll">
        @for (item of contentMetrics; track $index) {
        <li class="dashboard-metric-card__list-item">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
    <div style="display: flex; flex-direction: column; gap: 15px">
      <h3>Engagement Metrics</h3>
      <ul style="list-style: none; display: flex; gap: 15px; overflow: scroll">
        @for (item of engagementMetrics; track $index) {
        <li class="dashboard-metric-card__list-item" style="width: 100%">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
  </div>
</div>
