<div class="metrics-statistics">
  <h2 class="metrics-statistics__title">Metrics and Statistics</h2>
  <div class="metrics-statistics__container">
    <div class="metrics-statistics__part">
      <h3 class="metrics-statistics__part-title">User Metrics</h3>
      <ul class="metrics-statistics__part-list">
        @for (item of userMetrics; track $index) {
        <li class="metrics-statistics__part-list__item">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
    <div class="metrics-statistics__part">
      <h3 class="metrics-statistics__part-title">Content Metrics</h3>
      <ul class="metrics-statistics__part-list">
        @for (item of contentMetrics; track $index) {
        <li class="metrics-statistics__part-list__item">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
    <div class="metrics-statistics__part">
      <h3 class="metrics-statistics__part-title">Engagement Metrics</h3>
      <ul class="metrics-statistics__part-list">
        @for (item of engagementMetrics; track $index) {
        <li class="metrics-statistics__part-list__item">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
  </div>
</div>
