.settings-back {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 15px 20px;
  background-color: #000;
  width: 200px;
  color: #fff;
  &__icon {
    color: #fff;
  }
}

.settings {
  padding-top: 50px;
  position: relative;
  &-title {
    text-align: center;
    padding: 20px 0;
  }
}

.settings-nav-link {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: inherit;

  &:hover {
    background-color: #bdbdbd;
  }

  &.active {
    background-color: #000;
    color: #fff;
  }
}
