<div class="settings">
  <a mat-tab-link routerLink="/" class="settings-back"
    ><mat-icon fontIcon="arrow_back" class="settings-back__icon"></mat-icon> Go
    to Dashboard</a
  >
  <h1 class="settings-title">Settings</h1>
  <div class="settings-nav__wrapper">
    <nav class="settings-nav">
      <a
        routerLink="/settings/general"
        routerLinkActive="active"
        class="settings-nav-link"
        >General</a
      >
      <a
        routerLink="/settings/research"
        routerLinkActive="active"
        class="settings-nav-link"
        >Research</a
      >
      <a
        routerLink="/settings/reporting"
        routerLinkActive="active"
        class="settings-nav-link"
        >Reporting</a
      >
    </nav>
  </div>
  <div class="settings-content">
    <router-outlet></router-outlet>
  </div>
</div>
