<h2>Collaborators</h2>
<mat-list>
  @for (collaborator of collaborators(); track collaborator.id) {
  <mat-list-item>
    <shared-user-card [user]="collaborator" />
  </mat-list-item>
  } @empty {
  <mat-list-item>
    <p>No collaborators found</p>
  </mat-list-item>
  }
</mat-list>

@if (collaborators()) {
<mat-paginator
  [length]="totalItems()"
  [pageSize]="pageSize()"
  [pageIndex]="currentPage()"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
  aria-label="Select page"
>
</mat-paginator>
}
