@if (error()) {
<div class="py-5">
  <div class="flex justify-center items-center flex-col gap-4">
    <mat-icon class="text-red-500">error_outline</mat-icon>
    <p class="text-lg font-semibold text-red-500 sm:text-left text-center">
      {{ error() }}
    </p>
  </div>
  <button mat-button (click)="retry()">
    <mat-icon class="text-red-500">refresh</mat-icon>
    <span class="text-red-500">Спробуйте ще раз</span>
  </button>
</div>
} @else if (loading()) {
<div class="flex justify-center items-center py-5">
  <custom-loader [diameter]="60" />
</div>
} @else { @if (systemPerformance() || commentActivity()) {
<div class="flex flex-col gap-5 py-5">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-lg font-semibold sm:text-start text-center pb-5">
      Продуктивність системи
    </h3>

    @if (systemPerformance(); as performance){

    <div
      class="grid sm:grid-cols-2 gap-4 p-4 flex-wrap grid-cols-1 sm:items-start items-center"
    >
      <div
        class="flex items-center gap-4 sm:flex-row flex-col p-4 rounded bg-[#00000005]"
      >
        <mat-icon class="text-[2rem] !w-8 !h-8 text-[#3f51b5]">speed</mat-icon>
        <div class="text-center">
          <h3 class="m-0 text-2xl font-medium">
            {{ performance.averageResponseTime | number : "1.0-2" }}ms
          </h3>
          <p class="m-0 text-[#666]">Середній час відповіді</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4 sm:flex-row flex-col p-4 rounded bg-[#00000005]"
      >
        <mat-icon class="text-[2rem] !w-8 !h-8 text-[#3f51b5]">timer</mat-icon>
        <div class="text-center">
          <h3 class="m-0 text-2xl font-medium">
            {{ performance.uptimePercentage | number : "1.2-2" }}%
          </h3>
          <p class="m-0 text-[#666]">Час безвідмовної роботи</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4 sm:flex-row flex-col p-4 rounded bg-[#00000005]"
      >
        <mat-icon class="text-[2rem] !w-8 !h-8 text-[#3f51b5]">memory</mat-icon>
        <div class="text-center">
          <h3 class="m-0 text-2xl font-medium">
            {{ performance.memoryUsage | number : "1.2-2" }}%
          </h3>
          <p class="m-0 text-[#666]">Використання пам'яті</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4 sm:flex-row flex-col p-4 rounded bg-[#00000005]"
      >
        <mat-icon class="text-[2rem] !w-8 !h-8 text-[#3f51b5]"
          >device_hub</mat-icon
        >
        <div class="text-center">
          <h3 class="m-0 text-2xl font-medium">
            {{ performance.cpuUsage | number : "1.2-2" }}%
          </h3>
          <p class="m-0 text-[#666]">Використання процесора</p>
        </div>
      </div>

      <div
        class="flex items-center gap-4 sm:flex-row flex-col p-4 rounded bg-[#00000005]"
      >
        <mat-icon class="text-[2rem] !w-8 !h-8 text-[#3f51b5]">people</mat-icon>
        <div class="text-center">
          <h3 class="m-0 text-2xl font-medium">
            {{ performance.activeConnections }}
          </h3>
          <p class="m-0 text-[#666]">Активні сесії</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4 sm:flex-row flex-col p-4 rounded bg-[#00000005]"
      >
        <mat-icon class="text-[2rem] !w-8 !h-8 text-[#3f51b5]"
          >storage</mat-icon
        >
        <div class="text-center">
          <h3 class="m-0 text-2xl font-medium">
            {{ performance.activeDbConnections }}/{{
              performance.maxDbConnections
            }}
          </h3>
          <p class="m-0 text-[#666]">Підключення до БД</p>
        </div>
      </div>
    </div>
    } @else {<custom-loader [diameter]="40" />}
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-lg font-semibold sm:text-start text-center pb-5">
      Активність коментарів
    </h3>
    <div>
      @if(commentActivityChart$ | async; as chartData) { @if
      (chartData[0].series.length > 0 || chartData[1].series.length > 0) {
      <ngx-charts-line-chart
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Date"
        yAxisLabel="Activity"
        [legend]="true"
        [scheme]="'vivid'"
      >
      </ngx-charts-line-chart>
      }@else {
      <div class="text-lg font-semibold sm:text-start text-center pb-5">
        Дані про активність коментування недоступні
      </div>
      }}@else {
      <custom-loader [diameter]="40" />
      }
    </div>
  </div>

  @if (systemPerformance()) {

  <div class="bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-lg font-semibold sm:text-start text-center pb-5">
      Використання пам'яті
    </h3>

    <div>
      @if(memoryUsageGauge$ | async; as data){
      <ngx-charts-gauge
        [results]="data"
        [max]="100"
        [units]="'%'"
        [scheme]="'cool'"
      >
      </ngx-charts-gauge>
      }@else {
      <custom-loader [diameter]="40" />
      }
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-lg font-semibold sm:text-start text-center pb-5">
      Використання процесора
    </h3>

    <div>
      @if((cpuUsageGauge$ | async); as data){ @if(data && data[0] &&
      (data[0].value || data[0].value === 0) && !(data[0].value | isNan)) {
      <ngx-charts-gauge
        [results]="data"
        [max]="100"
        [units]="'%'"
        [scheme]="'fire'"
      >
      </ngx-charts-gauge>
      } @else {
      <div class="text-lg font-semibold sm:text-start text-center pb-5">
        Недійсні дані процесора
      </div>
      } }@else {
      <custom-loader [diameter]="40" />
      }
    </div>
  </div>

  }
</div>
} @else {
<div class="flex justify-center items-center flex-col gap-4 py-5">
  <mat-icon>info</mat-icon>
  <p class="text-lg font-semibold text-black sm:text-start text-center">
    Аналітичні дані недоступні
  </p>
</div>
} }
