<div class="table-container">
  @if (isLoading()) {
  <div class="loading-shade">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @if(error()) {
  <div class="error-state">
    <mat-icon>error_outline</mat-icon>
    <p>{{ error() }}</p>
    <button mat-button (click)="loadComments()">
      <mat-icon>refresh</mat-icon>
      Try Again
    </button>
  </div>
  } @else if (comments().length === 0 && !isLoading()) {
  <div class="empty-state">
    <mat-icon>comment</mat-icon>
    <p>No comments found</p>
    <button mat-button (click)="refreshComments()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
  </div>
  } @else {
  <table mat-table [dataSource]="comments()">
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Content</th>
      <td mat-cell *matCellDef="let comment" class="content-cell">
        {{ comment.content | truncateText : 50 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let comment">
        <div class="author-info">
          <img [src]="comment.userAvatarUrl" alt="User avatar" class="avatar" />
          <span>{{ comment.userName }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="projectTitle">
      <th mat-header-cell *matHeaderCellDef>Project</th>
      <td mat-cell *matCellDef="let comment">
        {{ comment.projectTitle | truncateText : 10 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="likes">
      <th mat-header-cell *matHeaderCellDef>Likes</th>
      <td mat-cell *matCellDef="let comment">
        {{ comment.likes }}
      </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let comment">
        {{ comment.createdAt | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let comment">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          @if(comment.replies?.length > 0) {
          <button mat-menu-item (click)="viewReplies(comment)">
            <mat-icon>reply</mat-icon>
            View Replies ({{ comment.replies?.length }})
          </button>
          }
          <button mat-menu-item (click)="deleteComment(comment.id)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalItems()"
    [pageSize]="pageSize()"
    [pageIndex]="currentPage()"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Select page of comments"
  ></mat-paginator
  >}
</div>
