<div class="search-content">
  <div class="search-content__container">
    <h3 class="search-content__title">Content</h3>
    <form [formGroup]="contentForm" class="search-content__form">
      <mat-form-field class="search-content__form-item">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          @for (status of statuses; track status) {
          <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
          }
        </mat-select></mat-form-field
      >
      <mat-form-field class="search-content__form-item"
        ><mat-label>Status</mat-label>
        <mat-select formControlName="status">
          @for (status of statuses; track status) {
          <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
          }
        </mat-select></mat-form-field
      >
      <mat-form-field class="search-content__form-item">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchContent()">
        Search
      </button>
    </form>
  </div>
  <!-- <shared-profile-projects
    [paginationService]="paginationService"
    [projects]="projects"
  /> -->
</div>
