<div class="profile-avatar">
  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    style="display: none"
  />

  @if (previewUrl() || user()?.avatarUrl) {
  <div class="max-w-[500px] h-fit">
    <img
      [src]="previewUrl() || user()?.avatarUrl"
      alt="Profile image"
      class="w-full h-full object-cover"
    />
  </div>
  } @else if (user()?.avatarUrl) { } @else {
  <div class="avatar-placeholder">
    <mat-icon>account_circle</mat-icon>
  </div>
  }

  <button
    mat-icon-button
    class="avatar-upload-button"
    (click)="onUploadClick()"
    [disabled]="isLoading()"
  >
    <mat-icon>photo_camera</mat-icon>
  </button>

  @if (showPreview() && !isLoading()) {
  <div class="avatar-actions">
    <button
      mat-flat-button
      color="primary"
      (click)="onAvatarChanged()"
      [disabled]="isLoading() || !selectedFile()"
    >
      Upload
    </button>
    <button mat-button (click)="cancelUpload()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </div>
  } @if (errorMessage()) {
  <div class="text-lg font-semibold text-red-500 sm:text-start text-center">
    {{ errorMessage() }}
  </div>
  } @if (isLoading()) {
  <custom-loader [diameter]="32" />
  }
</div>
