@let pages = pagesSig(); @let currentPage = currentPageSig();

<div class="pagination">
  <button
    class="pagination__btn"
    (click)="prevPage.emit()"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>

  @if (pages.length > 1) { @for (page of pages; track $index) {

  <div>
    <button
      class="pagination__btn"
      (click)="goToPage.emit(page)"
      [class.active]="page === currentPage"
    >
      {{ page }}
    </button>
  </div>
  } }

  <button
    class="pagination__btn"
    (click)="nextPage.emit()"
    [disabled]="currentPage === pages.length"
  >
    Next
  </button>
</div>
