<form [formGroup]="typeForm()" class="flex flex-col gap-[10px] py-[15px]">
  <mat-form-field>
    <mat-label>Тип</mat-label>
    <mat-select formControlName="type">
      @for (type of types; track type) {
      <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
      }
    </mat-select>
    @if (typeForm().controls.type.invalid && typeForm().controls.type.touched) {
    <mat-error>{{ formErrors.type.required }}</mat-error>
    }
  </mat-form-field>
  <div>
    <button mat-button matStepperNext [disabled]="typeForm().invalid">
      Далі
    </button>
  </div>
</form>
