<div class="user">
  @if (hasError()) {
  <div class="error-state">
    <mat-icon class="error-icon">error_outline</mat-icon>
    <h3 class="error-message">{{ error() }}</h3>
    <button mat-raised-button color="primary" (click)="retryLoading()">
      Retry
    </button>
  </div>
  } @else {
  <div class="user-inner">
    <div class="user-img__wrapper">
      <img [src]="user()?.avatarUrl" class="user-img" />
    </div>
    <div class="user-content">
      <div class="user-content__info">
        <p class="user-content__info-item">
          <span class="user-content__info-item__span">Name:</span>
          {{ user()?.username }}
        </p>
        <p class="user-content__info-item">
          <span class="user-content__info-item__span">Role:</span>
          {{ user()?.role | roleFormat }}
        </p>
        <p class="user-content__info-item">
          <span class="user-content__info-item__span">Affiliation:</span>
          {{ user()?.affiliation }}
        </p>
      </div>

      <ul class="user-content__metric-list">
        @for (item of userMetrics(); track $index) {
        <li class="user-content__metric-list__item">
          <shared-metric-card-item [data]="item" />
        </li>
        }
      </ul>
    </div>
  </div>
  @if (isUserLoaded()) {
  <user-tabs
    [user]="user()!"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    (pageChange)="onPageChange($event)"
  />
  } @else if (isLoading()) {
  <div class="user-content__loading">
    <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
  </div>
  }}
</div>
