<div class="forget-password">
  <div class="forget-password__header">
    <h1 class="forget-password__title">Відновлення паролю</h1>
    <h3 class="forget-password__subtitle">
      Не хвилюйтесь, ми допоможемо Вам відновити пароль!
    </h3>
  </div>
  @if (!isSuccess()) {
  <form class="forget-password__form" (ngSubmit)="onSubmit()">
    <mat-form-field class="forget-password__form-field">
      <mat-label>Електронна адреса</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailControl"
        [errorStateMatcher]="matcher"
        placeholder="Наприклад, pat@example.com"
      />
      @if (emailControl.hasError('email') && !emailControl.hasError('required'))
      {
      <mat-error>Будь ласка, введіть існуючу електронну адресу</mat-error>
      } @if (emailControl.hasError('required')) {
      <mat-error>Електронна адреса <strong>обовʼязкова</strong></mat-error>
      }
    </mat-form-field>
    <shared-custom-button
      type="submit"
      [disabled]="emailControl.invalid || isLoading() || cooldown() > 0"
      [isLoading]="isLoading()"
    >
      Надіслати код @if (cooldown() > 0) { Надіслати ще раз ща
      {{ cooldown() }} секунд } @else { Відправити посилання }
    </shared-custom-button>
  </form>
  } @else {
  <div class="forgot-password__success">
    <mat-icon class="forgot-password__success-icon">check_circle</mat-icon>
    <h3 class="forgot-password__success-message">
      Лист з інструкціями було відправлено на вашу електронну адресу
    </h3>
    <shared-custom-button (onPress)="goToSignIn()">
      Повернутись до входу
    </shared-custom-button>
  </div>
  }
</div>
