<div
  class="flex flex-col items-center justify-center h-full px-4 max-w-[500px]"
>
  <div class="text-center mb-8">
    <h1 class="text-2xl font-semibold">Відновлення паролю</h1>
    <h3 class="text-base font-normal">
      Не хвилюйтесь, ми допоможемо Вам відновити пароль!
    </h3>
  </div>
  @if (!isSuccess()) {
  <form
    class="w-full max-w-[400px] flex flex-col items-center"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="w-full mb-8">
      <mat-label>Електронна адреса</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailControl"
        [errorStateMatcher]="matcher"
        placeholder="Наприклад, pat@example.com"
      />
      @if (emailControl.hasError('email') && !emailControl.hasError('required'))
      {
      <mat-error>Будь ласка, введіть існуючу електронну адресу</mat-error>
      } @if (emailControl.hasError('required')) {
      <mat-error>Електронна адреса <strong>обовʼязкова</strong></mat-error>
      }
    </mat-form-field>
    <shared-custom-button
      type="submit"
      [disabled]="emailControl.invalid || isLoading() || cooldown() > 0"
      [isLoading]="isLoading()"
      class="w-full"
    >
      @if (cooldown() > 0) { Надіслати ще раз за
      {{ cooldown() }} секунд } @else { Надіслати посилання }
    </shared-custom-button>
  </form>
  } @else {
  <div class="forgot-password__success">
    <mat-icon class="forgot-password__success-icon">check_circle</mat-icon>
    <h3 class="forgot-password__success-message">
      Лист з інструкціями було відправлено на вашу електронну адресу
    </h3>
    <shared-custom-button (onPress)="goToSignIn()">
      Повернутись до входу
    </shared-custom-button>
  </div>
  }
</div>
