<div class="forget-password">
  <div class="forget-password__header">
    <h1 class="forget-password__title">Відновлення паролю</h1>
    <h3 class="forget-password__subtitle">
      Не хвилюйтесь, ми допоможемо Вам відновити пароль!
    </h3>
  </div>
  <form class="forget-password__form" (ngSubmit)="onForgotPassword()">
    <mat-form-field class="forget-password__form-field">
      <mat-label>Електронна адреса</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Наприклад, pat@example.com"
      />
      @if (emailFormControl.hasError('email') &&
      !emailFormControl.hasError('required')) {
      <mat-error>Будь ласка, введіть існуючу електронну адресу</mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>Електронна адреса <strong>обовʼязкова</strong></mat-error>
      }
    </mat-form-field>
    <button
      mat-flat-button
      class="forget-password__form-btn"
      type="submit"
      [disabled]="emailFormControl.invalid"
    >
      Надіслати код
    </button>
  </form>
</div>
