<div class="recent-users">
  <h3 class="recent-users__title">Recent users</h3>

  @if (isLoading()) {
  <mat-spinner diameter="30"></mat-spinner>
  } @else if (error()) {
  <div class="error-message">
    {{ error() }}
    <button mat-button color="primary" (click)="refreshActiveUsers()">
      Retry
    </button>
  </div>
  } @else {
  <ul class="recent-users__list">
    @for (user of activeUsers; track user.id) {
    <li class="recent-users__list-item">
      <div class="recent-users__list-item__img--wrapper">
        <img
          [src]="user.avatarUrl || 'assets/default-avatar.png'"
          alt="{{ user.username }}'s avatar"
          class="recent-users__list-item__img"
        />
      </div>
      <div class="recent-users__list-item__info">
        <h3 class="recent-users__list-item__info-name">
          {{ user.username | truncateText : 30 }}
          <span>
            <mat-icon>{{
              user.role === "SUPER_ADMIN"
                ? "workspace_premium"
                : user.role === "ADMIN"
                ? "verified_user"
                : user.role === "USER"
                ? "person"
                : "person_outline"
            }}</mat-icon></span
          >
        </h3>

        <p class="recent-users__list-item__info-activity">
          {{ user.lastActive | date : "MMM d, h:mm a" }}
        </p>
      </div>
    </li>
    }@empty {
    <p class="no-users">No active users found</p>
    }
  </ul>
  }

  <button
    mat-icon-button
    (click)="refreshActiveUsers()"
    [disabled]="isLoading()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
