<div class="p-[10px] relative">
  <h3 class="text-lg font-medium text-center">Останні користувачі</h3>

  @if (isLoading()) {
  <custom-loader [diameter]="30" />
  } @else {
  <ul class="flex flex-col gap-[10px] max-h-[300px] overflow-y-scroll">
    @for (user of activeUsers; track user.id) {
    <li class="flex gap-[10px]">
      <div
        class="flex-shrink-0 rounded-[50%] overflow-hidden w-[50px] h-[50px]"
      >
        <img
          [src]="user.avatarUrl || 'assets/default-avatar.png'"
          alt="{{ user.username }}'s avatar"
          class="object-cover w-[50px] h-[50px] block"
        />
      </div>
      <div class="flex-grow">
        <h3 class="break-all pb-[10px]">
          {{ user.username | truncateText : 30 }}
          <span>
            <mat-icon>{{
              user.role === "SUPER_ADMIN"
                ? "workspace_premium"
                : user.role === "ADMIN"
                ? "verified_user"
                : user.role === "USER"
                ? "person"
                : "person_outline"
            }}</mat-icon></span
          >
        </h3>

        <p>
          {{ user.lastActive | date : "MMM d, h:mm a" }}
        </p>
      </div>
    </li>
    }@empty {
    <p class="text-lg font-medium text-black sm:text-start text-center">
      Активних користувачів не знайдено
    </p>
    }
  </ul>
  }

  <button
    mat-icon-button
    (click)="refreshActiveUsers()"
    [disabled]="isLoading()"
    class="absolute top-3 right-5"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
