<a
  class="flex flex-col justify-between min-w-[200px] h-[300px] bg-[#eeeeee] border-[#c5c5c5] border border-solid text-inherit decoration-solid cursor-pointer p-[10px] transition-all duration-300 ease-in-out relative hover:bg-gray-100 group no-underline"
  routerLink="/projects/{{ project().id }}"
>
  <div
    class="opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"
  >
    <div class="flex justify-between pb-[10px] text-sm font-bold">
      <p>
        {{
          project().progress === 100
            ? "Завершено"
            : project().progress < 100 && project().progress > 0
            ? "У процесі"
            : "Призначено"
        }}
      </p>
      <p>{{ project().progress }}%</p>
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="project().progress"
    ></mat-progress-bar>
  </div>
  <h3 class="text-center">{{ project().title }}</h3>
  <div
    class="opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out"
  >
    <div class="flex gap-[3px] justify-center">
      <h5>Тип:</h5>
      <h5>
        {{ project().type | titlecase }}
      </h5>
    </div>
  </div>
</a>
