<div class="sign-in">
  <div class="sign-in__header">
    <h1 class="sign-in__title">Вхід до профілю</h1>
    <h3 class="sign-in__subtitle">
      Раді знову Вас бачити! Введіть дані до авторизації
    </h3>
  </div>
  <form class="sign-in__form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="sign-in__form-field">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-icon matSuffix>person</mat-icon>
      @if (this.signInForm.controls.email.invalid &&
      signInForm.controls.email.touched) {
      <mat-error>{{ errorMessages.email() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input
        matInput
        [type]="isPasswordHidden() ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="
          isPasswordHidden() ? 'Показати пароль' : 'Сховати пароль'
        "
      >
        <mat-icon>{{
          isPasswordHidden() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (this.signInForm.controls.email.invalid &&
      signInForm.controls.email.touched) {
      <mat-error>{{ errorMessages.password() }}</mat-error>
      }
    </mat-form-field>
    <div class="sign-in__form-options">
      <mat-checkbox
        class="sign-in__form-options__checkbox"
        formControlName="rememberMe"
        >Запамʼятати мене</mat-checkbox
      >
      <a
        class="sign-in__form-options__link"
        routerLink="/authentication/recover-password"
        >Забули пароль?</a
      >
    </div>

    <shared-custom-button
      type="submit"
      [disabled]="signInForm.invalid"
      [isLoading]="isLoading()"
    >
      Ввійти</shared-custom-button
    >
  </form>
  <p class="sign-in__link">
    Не маєте аккаунту?
    <a routerLink="/authentication/sign-up">Створити профіль</a>
  </p>
</div>
