<div>
  <div class="md:pb-[30px] pb-[15px] text-center">
    <h1 class="text-xl md:text-2xl font-semibold">Вхід до профілю</h1>
    <h3 class="text-sm md:text-base font-normal">
      Раді знову Вас бачити! Введіть дані до авторизації
    </h3>
  </div>
  @if (formError()) {
  <div
    class="w-full h-5 flex items-center justify-center gap-2 py-5 bg-red-500 mb-[15px]"
  >
    <mat-icon color="warn">error</mat-icon>
    <span class="text-black">{{ formError() }}</span>
  </div>
  }
  <form
    class="flex flex-col md:gap-[10px] gap-5 pb-5"
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-icon matSuffix>person</mat-icon>
      @if (this.signInForm.controls.email.invalid &&
      signInForm.controls.email.touched) {
      <mat-error class="h-full">{{ errorMessages.email() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input
        matInput
        [type]="isPasswordHidden() ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="
          isPasswordHidden() ? 'Показати пароль' : 'Сховати пароль'
        "
      >
        <mat-icon>{{
          isPasswordHidden() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (this.signInForm.controls.email.invalid &&
      signInForm.controls.email.touched) {
      <mat-error>{{ errorMessages.password() }}</mat-error>
      }
    </mat-form-field>
    <div
      class="flex justify-center md:justify-between items-center flex-col md:flex-row"
    >
      <mat-checkbox class="remember-me-checkbox" formControlName="rememberMe"
        >Запамʼятати мене</mat-checkbox
      >
      <a
        class="no-underline font-medium text-inherit text-sm md:text-base"
        routerLink="/authentication/recover-password"
        >Забули пароль?</a
      >
    </div>

    <shared-custom-button
      type="submit"
      [disabled]="signInForm.invalid"
      [isLoading]="isLoading()"
    >
      Ввійти</shared-custom-button
    >
  </form>
  <p class="text-center md:text-base text-sm">
    Не маєте аккаунту?
    <a class="no-underline font-bold" routerLink="/authentication/sign-up"
      >Створити профіль</a
    >
  </p>
</div>
