@let loading = formService.loading | async; @let subtext = formService.isEditing
? 'Edit your project' : 'Create a new project'; @let allUsers =
formService.allUsers$ | async; @let authors = formService.authors;

<p class="create-subtext">
  {{ subtext }}
</p>

<mat-stepper #stepper orientation="vertical" linear>
  <!-- Step 1: Project Type -->
  <mat-step
    [stepControl]="typeForm()!"
    label="Select a project type"
    errorMessage="Type is required."
  >
    <create-project-type-step [typeForm]="typeForm()!" />
  </mat-step>

  <!-- Step 2: General Information -->
  <mat-step
    [stepControl]="generalInfoForm()!"
    label="Fill out general information"
    errorMessage="General information is required."
  >
    <create-project-general-info-step
      [generalInfoForm]="generalInfoForm()!"
      [typeForm]="typeForm()!"
      [existingFiles]="formService.existingFiles$ | async"
    />
  </mat-step>

  <!-- Step 3: Work Information (Dynamic based on type) -->
  @if (typeForm().value.type; as projectType) {
  <mat-step
    [stepControl]="
      projectType | workForm : publicationForm() : patentForm() : researchForm()
    "
    errorMessage="Type-specific information is required."
    label="Fill out work information"
  >
    @if (typeForm().value.type === 'PUBLICATION') {
    <create-project-work-info-step
      [typeForm]="typeForm()!"
      [publicationsForm]="publicationForm()!"
      [allUsers]="allUsers"
      [authors]="authors"
    />
    } @else if (typeForm().value.type === 'PATENT') {
    <create-project-work-info-step
      [typeForm]="typeForm()!"
      [patentsForm]="patentForm()!"
      [authors]="authors"
      [allUsers]="allUsers"
    />
    } @else if (typeForm().value.type === 'RESEARCH') {
    {{ researchForm()?.value | json }}
    <create-project-work-info-step
      [typeForm]="typeForm()!"
      [researchesForm]="researchForm()!"
      [allUsers]="allUsers"
      [authors]="authors"
    />
    } </mat-step
  >}

  <!-- Final Step: Submission -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submitForm()" [disabled]="loading">
        {{ loading ? "Saving..." : "Submit" }}
      </button>
    </div>
    @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <!-- @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
    } -->
  </mat-step>
</mat-stepper>
