@let loading = formService.loading | async; @let authors = formService.authors;

<p class="create-subtext">
  {{ subtext() }}
</p>

<mat-stepper #stepper orientation="vertical" linear>
  <mat-step
    [stepControl]="typeForm()!"
    label="Виберіть тип проекту"
    errorMessage="Тип обов'язковий."
  >
    <create-project-type-step [typeForm]="typeForm()!" />
  </mat-step>

  <mat-step
    [stepControl]="generalInfoForm()!"
    label="Заповніть загальну інформацію"
    errorMessage="Потрібна загальна інформація."
  >
    <create-project-general-info-step
      [generalInfoForm]="generalInfoForm()!"
      [typeForm]="typeForm()!"
    />
  </mat-step>

  @if (typeForm().value.type; as projectType) {
  <mat-step
    [stepControl]="
      projectType | workForm : publicationForm() : patentForm() : researchForm()
    "
    errorMessage="Потрібна інформація, що стосується конкретного типу."
    label="Заповніть інформацію про проект"
  >
    <create-project-work-info-step
      [typeForm]="typeForm()"
      [publicationsForm]="publicationForm()"
      [patentsForm]="patentForm()"
      [researchesForm]="researchForm()"
      [authors]="authors"
    /> </mat-step
  >}

  <mat-step>
    <ng-template matStepLabel>Готово</ng-template>
    <p>Тепер ви готові.</p>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset()">Скинути</button>
      <button mat-button (click)="submitForm()" [disabled]="loading">
        {{ loading ? "Зберігання..." : "Надіслати" }}
      </button>
    </div>
    @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-step>
</mat-stepper>
