<div>
  <h3 style="padding-bottom: 10px; text-align: center">My comments</h3>
  @for (comment of paginationService.visibleElements; track comment) {
  <div style="display: flex; gap: 10px">
    <shared-comment [comment]="comment" style="width: 100%" />
    <div style="display: flex; gap: 10px; flex-direction: column">
      <button
        mat-raised-button
        color="warn"
        (click)="editComment(comment.id)"
        style="width: 100%"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteComment(comment.id)"
        style="width: 100%"
      >
        Delete
      </button>
    </div>
  </div>
  <!-- } @if(comments.length > paginationService.itemsPerPage) { -->
  <!-- get rid of the service in html (not important) -->
  <shared-pagination
    [pages]="pages"
    [currentPage]="paginationService.currentPage"
    (prevPage)="paginationService.prevPage()"
    (nextPage)="paginationService.nextPage()"
    (goToPage)="paginationService.goToPage($event)"
  />
  }
</div>
