<div>
  @if(notificationItem) {
  <h2 mat-dialog-title style="text-align: center">
    {{ notificationItem.title }}
  </h2>
  <mat-dialog-content class="mat-typography">
    <div>
      <div
        class="notification"
        [ngStyle]="{
          'border-color':
            notificationItem.type === 'info'
              ? '#2196F3'
              : notificationItem.type === 'warning'
              ? '#FFC107'
              : notificationItem.type === 'success'
              ? '#4CAF50'
              : notificationItem.type === 'error'
              ? '#F44336'
              : '#000000'
        }"
        style="
          display: flex;
          gap: 5px;
          padding: 10px;
          border-width: 1px;
          border-style: solid;
        "
      >
        <mat-icon
          [ngClass]="{
            read: notificationItem.isRead,
            high: notificationItem.priority === 'high',
            medium: notificationItem.priority === 'medium',
            low: notificationItem.priority === 'low'
          }"
        >
          {{ notificationItem.isRead ? "check" : "notifications" }}
        </mat-icon>
        <div style="flex: 1">
          <h4
            [ngClass]="{
              high: notificationItem.priority === 'high',
              medium: notificationItem.priority === 'medium',
              low: notificationItem.priority === 'low'
            }"
          ></h4>
          <p style="word-break: break-all; padding-bottom: 5px">
            {{ notificationItem.message }}
          </p>
          <p style="font-size: 14px; color: #9e9e9e; margin: 0">
            {{ notificationItem.timestamp | date : "dd/MM/yyyy HH:mm" }}
          </p>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    @if(!notificationItem.isRead) {
    <button mat-button (click)="onMarkAsRead()">Mark as Read</button>
    }
    <button mat-button cdkFocusInitial (click)="onItemAction()">
      {{ notificationItem.action.label }}
    </button>
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Close</button>
    <button mat-button (click)="onViewAll()">View All</button>
  </mat-dialog-actions>
  }
</div>
