<div class="notification-item">
  @if(notificationItem) {
  <h2 class="notification-item__title" mat-dialog-title>
    {{ notificationItem.title }}
  </h2>
  <mat-dialog-content class="mat-typography" class="notification-item__content">
    <div
      class="notification-item__content-inner"
      [ngStyle]="{
        'border-color':
          notificationItem.type === 'info'
            ? '#2196F3'
            : notificationItem.type === 'warning'
            ? '#FFC107'
            : notificationItem.type === 'success'
            ? '#4CAF50'
            : notificationItem.type === 'error'
            ? '#F44336'
            : '#000000'
      }"
    >
      <mat-icon
        class="notification-item__content-icon"
        [ngClass]="{
          read: notificationItem.isRead,
          high: notificationItem.priority === 'high',
          medium: notificationItem.priority === 'medium',
          low: notificationItem.priority === 'low'
        }"
      >
        {{ notificationItem.isRead ? "check" : "notifications" }}
      </mat-icon>
      <div class="notification-item__content-texts">
        <!-- <h4
          [ngClass]="{
            high: notificationItem.priority === 'high',
            medium: notificationItem.priority === 'medium',
            low: notificationItem.priority === 'low'
          }"
          class="notification-item__content-texts__title"
        ></h4> -->
        <p class="notification-item__content-texts__message">
          {{ notificationItem.message }}
        </p>
        <p class="notification-item__content-texts__time">
          {{ notificationItem.timestamp | date : "dd/MM/yyyy HH:mm" }}
        </p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    @if(!notificationItem.isRead) {
    <button mat-button (click)="onMarkAsRead()">Mark as Read</button>
    }
    <button mat-button cdkFocusInitial (click)="onItemAction()">
      {{ notificationItem.action.label }}
    </button>
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Close</button>
    <button mat-button (click)="onViewAll()">View All</button>
  </mat-dialog-actions>
  }
</div>
