.notification-item {
  &__title {
    text-align: center;
  }
  &__content {
    &-inner {
      display: flex;
      gap: 5px;
      padding: 10px;
      border-width: 1px;
      border-style: solid;
    }
    &-icon {
    }
    &-texts {
      &__title {
      }
      &__message {
        word-break: break-all;
        padding-bottom: 5px;
      }
      &__time {
        font-size: 14px;
        color: #9e9e9e;
        margin: 0;
      }
    }
  }
}
