<!-- <div class="users-management">
  <h2 class="users-management__title">User Management</h2>
  <div class="users-management__form-container">
    <form class="users-management__form" [formGroup]="searchForm">
      <mat-form-field class="users-management__form-item">
        <mat-label>User search</mat-label>
        <input
          matInput
          type="text"
          formControlName="search"
          style="display: flex; width: 100%"
        />
        @if (searchForm.value.search) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchForm.patchValue({ search: '' })"
        >
          <mat-icon>close</mat-icon></button
        >}
      </mat-form-field>

      <mat-form-field class="users-management__form-item">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="">All</mat-option>
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="user">User</mat-option>
          <mat-option value="guest">Guest</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="users-management__form-item">
        <mat-label>Activity</mat-label>
        <mat-select formControlName="activity">
          <mat-option value="">All</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="users-management__form-item">
        <mat-label>Sort by</mat-label>
        <mat-select formControlName="sort">
          <mat-option value="registrationDate">Registration Date</mat-option>
          <mat-option value="lastLogin">Last Login</mat-option>
          <mat-option value="role">Role</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" type="submit" style="width: 100%">
      Search
    </button>
  </div>

  
</div> -->
