<input
  type="file"
  class="file-input"
  multiple
  (change)="onFileChange($event)"
  accept="application/pdf"
/>

@if (files.length) {
<mat-list class="file-section">
  <div mat-subheader>Files</div>
  @for (file of files; track $index) {
  <mat-list-item>
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>
      @if (isFile(file)) {
      {{ file.name }}
      } @else {
      {{ file.fileName }}
      }
    </div>
    <div matListItemLine>
      @if (isFile(file)) {
      {{ file.size | fileSize }}
      } @else {
      {{ file.uploadedAt | date }}
      }
    </div>
    <button mat-icon-button (click)="fileRemoved.emit($index)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
  }
</mat-list>
}
