<div style="display: flex; flex-direction: column; gap: 20px">
  <div style="display: flex; flex-direction: column; gap: 15px">
    <h3>User Metrics</h3>
    <ul style="list-style: none; display: flex; gap: 15px; overflow: scroll">
      @for (item of userMetrics; track $index) {
      <li class="dashboard-metric-card__list-item">
        <shared-metric-card-item [data]="item" />
      </li>
      }
    </ul>
  </div>
  <div style="display: flex; flex-direction: column; gap: 15px">
    <h3>Content Metrics</h3>
    <ul style="list-style: none; display: flex; gap: 15px; overflow: scroll">
      @for (item of contentMetrics; track $index) {
      <li class="dashboard-metric-card__list-item">
        <shared-metric-card-item [data]="item" />
      </li>
      }
    </ul>
  </div>
  <div style="display: flex; flex-direction: column; gap: 15px">
    <h3>Engagement Metrics</h3>
    <ul style="list-style: none; display: flex; gap: 15px; overflow: scroll">
      @for (item of engagementMetrics; track $index) {
      <li class="dashboard-metric-card__list-item" style="width: 100%">
        <shared-metric-card-item [data]="item" />
      </li>
      }
    </ul>
  </div>
</div>
<div>
  <h2>Recent Activities</h2>

  <div>
    <h3>User activities</h3>
    <table mat-table [dataSource]="userActivitiesSource">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">{{ element.user }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef>Activity</th>
        <td mat-cell *matCellDef="let element">{{ element.activity }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedUserActivitiesColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedUserActivitiesColumns"
      ></tr>
    </table>
  </div>

  <div>
    <h3>New projects</h3>
    <table mat-table [dataSource]="NewProjectsSource">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">{{ element.user }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>Project</th>
        <td mat-cell *matCellDef="let element">{{ element.project }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : "medium" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedNewProjectsColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedNewProjectsColumns"
      ></tr>
    </table>
  </div>
</div>

<div>
  <h2>Pending Actions</h2>
  <div>
    <h3>Pending Approvals</h3>
    <mat-list role="list">
      <mat-list-item role="listitem"><a href="#">Project 1</a></mat-list-item>
      <mat-list-item role="listitem"><a href="#">Project 2</a></mat-list-item>
      <mat-list-item role="listitem"><a href="#">Project 3</a></mat-list-item>
    </mat-list>
  </div>
  <div>
    <h3>Flagged Content</h3>
    <mat-list role="list" style="height: 100%">
      <mat-list-item role="listitem" style="height: 100%"
        ><a href="#">Project 1</a></mat-list-item
      >
      <mat-list-item role="listitem" style="height: 100%">
        <shared-comment [comment]="comment" />
      </mat-list-item>
      <mat-list-item role="listitem" style="height: 100%"
        ><a href="#">Project 3</a></mat-list-item
      >
    </mat-list>
  </div>
</div>

<div>
  <h2>Analytics and Trends</h2>
  <div>
    <h3>User Growth</h3>
    <ag-charts style="height: 100%; display: block" [options]="chartOptions">
    </ag-charts>
  </div>

  <div>
    <h3>Content Engagement</h3>
    <ag-charts style="height: 100%; display: block" [options]="contentTypes">
    </ag-charts>
  </div>
</div>
<div>
  <h2>Quick Actions</h2>
  <div>
    <button mat-raised-button color="primary" (click)="addNewProject()">
      Add New Project
    </button>
    <button mat-raised-button color="accent" (click)="reviewFlaggedContent()">
      Review Flagged Content
    </button>
    <button mat-raised-button color="accent" (click)="reviewPendingApprovals()">
      Review Pending Approvals
    </button>
    <button mat-raised-button color="warn" (click)="generateReports()">
      Generate Reports
    </button>
  </div>
</div>
<div>
  <h2>Search and Filters</h2>
  <form [formGroup]="userForm">
    <h2>Users</h2>
    <mat-form-field
      ><input matInput placeholder="Name" formControlName="name"
    /></mat-form-field>
    <mat-form-field
      ><input matInput placeholder="Email" formControlName="email"
    /></mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Role" formControlName="role"
    /></mat-form-field>
  </form>
  <form [formGroup]="contentForm">
    <h2>Content</h2>
    <mat-form-field>
      <input matInput placeholder="Type" formControlName="type"
    /></mat-form-field>
    <mat-form-field
      ><input matInput placeholder="Status" formControlName="status"
    /></mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
