<div>
  <h3
    class="pb-[10px] lg:text-xl text-lg font-semibold sm:text-start text-center"
  >
    Коментарі
  </h3>

  <div class="flex flex-col gap-[10px] pb-5">
    <textarea
      [(ngModel)]="newCommentContent"
      class="border border-gray-300 border-solid w-full resize-none h-[100px] py-[10px] px-[15px]"
      placeholder="Напишіть коментар..."
    ></textarea>
    <button mat-flat-button class="w-full" (click)="postComment()">
      Опублікувати коментар
    </button>
  </div>
  @if(commentsLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
  <div>
    @if(comments() && comments()!.length > 0) { @for (comment of comments()!;
    track comment.id) {
    <shared-comment
      [comment]="comment"
      (like)="onCommentLikeToggle($event)"
      (edit)="onCommentEdit($event.id, $event.content)"
      (delete)="onCommentDelete($event)"
      (reply)="startReply($event)"
    />

    @if(replyingToCommentId() === comment.id) {
    <div>
      <textarea
        [(ngModel)]="replyContent"
        placeholder="Напишіть свою відповідь..."
        class="w-full resize-none h-[150px] py-[10px] px-[15px]"
      ></textarea>
      <div class="flex">
        <button
          mat-button
          (click)="postReply(comment.id)"
          class="flex-1"
          mat-stroked-button
        >
          Відповісти
        </button>
        <button
          mat-button
          (click)="cancelReply()"
          class="flex-1"
          mat-stroked-button
        >
          Скасувати
        </button>
      </div>
    </div>
    } @if(comment.replies && comment.replies.length > 0) {
    <div>
      @for (reply of comment.replies; track reply.id) {
      <shared-comment
        [comment]="reply"
        (like)="onCommentLikeToggle($event)"
        (edit)="onCommentEdit($event.id, $event.content)"
        (delete)="onCommentDelete($event)"
        (reply)="startReply($event)"
        [isReply]="true"
      />
      }
    </div>
    } } } @else {
    <p class="text-lg sm:text-start text-center font-medium">
      Поки що немає коментарів. Будьте першим, хто залишить коментар!
    </p>
    }
  </div>
  }
</div>
