<div
  class="flex flex-col items-center justify-center h-full px-4 max-w-[500px]"
>
  <div class="text-center mb-8">
    <h1 class="text-2xl font-semibold">Встановлення нового паролю</h1>
    <h3 class="text-base font-normal">
      Тепер ви можете встановити новий пароль для вашого облікового запису
    </h3>
  </div>
  <form
    class="w-full max-w-[400px] flex flex-col items-center"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="w-full mb-4">
      <mat-label>Новий пароль</mat-label>
      <input
        matInput
        [type]="isPasswordHidden() ? 'password' : 'text'"
        [formControl]="passwordControl"
        class="w-full"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="
          isPasswordHidden() ? 'Показати пароль' : 'Сховати пароль'
        "
        [attr.aria-pressed]="!isPasswordHidden()"
      >
        <mat-icon>{{
          isPasswordHidden() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (passwordControl.invalid) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <shared-custom-button
      type="submit"
      variant="primary"
      [disabled]="passwordControl.invalid"
      [isLoading]="isLoading()"
    >
      Зберегти
    </shared-custom-button>
  </form>

  <a class="no-underline font-bold mt-4" routerLink="/auth/sign-in">
    Повернутися до сторінки входу</a
  >
</div>
