<div class="reset-password">
  <div class="reset-password__header">
    <h1 class="reset-password__title">Встановлення нового паролю</h1>
    <h3 class="reset-password__subtitle">
      Тепер ви можете встановити новий пароль для вашого облікового запису
    </h3>
  </div>
  <form class="reset-password__form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="reset-password__form-field">
      <mat-label>Новий пароль</mat-label>
      <input
        matInput
        [type]="isPasswordHidden() ? 'password' : 'text'"
        [formControl]="passwordControl"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="
          isPasswordHidden() ? 'Показати пароль' : 'Сховати пароль'
        "
        [attr.aria-pressed]="!isPasswordHidden()"
      >
        <mat-icon>{{
          isPasswordHidden() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (passwordControl.invalid) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <shared-custom-button
      type="submit"
      variant="primary"
      [disabled]="passwordControl.invalid"
    >
      Зберегти
    </shared-custom-button>
  </form>

  <p class="reset-password__footer">
    Повернутися до
    <a class="reset-password__link" routerLink="/auth/sign-in"
      >сторінки входу</a
    >
  </p>
</div>
