<div class="reset-password">
  <div class="reset-password__header">
    <h1 class="reset-password__title">Встановлення нового паролю</h1>
    <h3 class="reset-password__subtitle">
      Тепер ви можете встановити новий пароль для вашого облікового запису
    </h3>
  </div>
  <form class="reset-password__form" (ngSubmit)="onResetPassword()">
    <mat-form-field class="reset-password__form-field">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [formControl]="passwordController"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (this.passwordController.invalid) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      class="reset-password__form-btn"
      type="submit"
      [disabled]="passwordController.invalid"
    >
      Зберегти
    </button>
  </form>
</div>
