<section class="layout">
  @if (!isAuth && !isSettings) {
  <shared-header (sidebarToggle)="toggleMenu()" [isSidebarOpened]="isOpened" />
  }

  <mat-sidenav-container autosize>
    @if (!isAuth && !isSettings) {
    <mat-sidenav
      class="expanded"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isOpened ? 'false' : 'true'"
      style="padding: '80px 0 10px'"
    >
      <!-- [ngClass]="!isCollapsed ? 'expanded' : 'collapsed'" -->
      <!-- [opened]="isMobile ? 'false' : 'true'" -->

      <mat-nav-list
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 80px;
        "
      >
        <h3 style="padding: 0 10px 10px">Navigation</h3>
        <div>
          <a mat-list-item routerLink="/">
            <span class="entry">
              <mat-icon>house</mat-icon>
              <span>Dashboard</span>
            </span>
          </a>
          <a
            mat-list-item
            routerLink="/projects/list"
            [queryParams]="{ mode: 'all' }"
          >
            <span class="entry">
              <mat-icon>category</mat-icon>
              <span>Products</span>
            </span>
          </a>
          <a mat-list-item routerLink="/users">
            <span class="entry">
              <mat-icon>group</mat-icon>
              <span>Users</span>
            </span>
          </a>
          <!-- <a mat-list-item>
            <span class="entry">
              <mat-icon>inventory_2</mat-icon>
              <span>Products</span>
            </span>
          </a> -->
          <a mat-list-item routerLink="/settings">
            <span class="entry">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </span>
          </a>
        </div>
        <div style="display: flex; flex-direction: column; gap: 20px">
          <sidebar-notifications />
          <sidebar-recent-users />
        </div>
      </mat-nav-list>
    </mat-sidenav>
    }
    <mat-sidenav-content
      [ngStyle]="!isAuth && !isSettings ? { 'padding-top': '80px' } : {}"
    >
      <main
        class="main"
        [ngStyle]="!isAuth && !isSettings ? { padding: '10px 30px 50px' } : {}"
      >
        <router-outlet></router-outlet>
        <shared-footer />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
