.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main {
  flex: 1;
  padding-bottom: 30px;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 0;
}

mat-sidenav-container {
  flex: 1;
  display: flex;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  background-color: #eee;
  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
  flex: 1;
}
