<section class="flex flex-col min-h-screen relative">
  @if (!isAuth && !isSettings && !isErrorPages) {
  <shared-header (sidebarToggle)="toggleMenu()" [isSidebarOpened]="isOpened" />
  }
  <mat-sidenav-container class="flex-1 flex" autosize>
    @if (!isAuth && !isSettings && !isErrorPages) {
    <mat-sidenav
      class="pt-20 pb-[10px] !bg-[#eee]"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isOpened ? 'false' : 'true'"
      [ngClass]="{
        'w-64': !isCollapsed && !isMobile,
        'w-0': isMobile && !isOpened,
        'w-20': isCollapsed && !isMobile
      }"
    >
      <mat-nav-list class="flex flex-col justify-between">
        @if (isAdmin) {
        <a mat-list-item routerLink="/admin/dashboard">
          <span class="flex items-center w-full gap-4 p-3">
            <mat-icon>admin_panel_settings</mat-icon>
            <span class="text-wrap">Панель адміністратора</span>
          </span>
        </a>
        }
        <h3 class="px-[10px] pb-[10px] text-lg font-medium text-center">
          Навігація
        </h3>
        <div>
          <a mat-list-item routerLink="/">
            <span class="flex items-center gap-4 p-3">
              <mat-icon>house</mat-icon>
              <span>Головна сторінка</span>
            </span>
          </a>
          <a
            mat-list-item
            routerLink="/projects/list"
            [queryParams]="{ mode: 'all' }"
          >
            <span class="flex items-center gap-4 p-3">
              <mat-icon>category</mat-icon>
              <span>Проєкти</span>
            </span>
          </a>
          <a mat-list-item routerLink="/users">
            <span class="flex items-center gap-4 p-3">
              <mat-icon>group</mat-icon>
              <span>Користувачі</span>
            </span>
          </a>
        </div>
        <div class="flex flex-col gap-5">
          <sidebar-recent-users />
        </div>
      </mat-nav-list>
    </mat-sidenav>
    }
    <mat-sidenav-content
      class="flex-1 min-h-screen overflow-x-hidden flex"
      [ngStyle]="
        !isAuth && !isSettings && !isErrorPages ? { 'padding-top': '80px' } : {}
      "
    >
      <main
        class="main"
        [ngStyle]="
          !isAuth && !isSettings && !isErrorPages
            ? { padding: '10px 30px 50px' }
            : {}
        "
      >
        <router-outlet></router-outlet>
        <shared-footer />
        <app-session-warning />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
