<section class="layout">
  @if (!isAuth && !isSettings && !isErrorPages) {
  <shared-header (sidebarToggle)="toggleMenu()" [isSidebarOpened]="isOpened" />
  }
  <mat-sidenav-container autosize>
    @if (!isAuth && !isSettings && !isErrorPages) {
    <mat-sidenav
      class="sidenav expanded"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isOpened ? 'false' : 'true'"
    >
      <!-- [ngClass]="!isCollapsed ? 'expanded' : 'collapsed'" -->
      <!-- [opened]="isMobile ? 'false' : 'true'" -->

      <mat-nav-list class="sidenav-list">
        @if (isAdmin) {
        <a mat-list-item routerLink="/admin/dashboard">
          <span class="entry">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin Panel</span>
          </span>
        </a>
        }
        <h3 class="sidenav-list__title">Navigation</h3>
        <div>
          <a mat-list-item routerLink="/">
            <span class="entry">
              <mat-icon>house</mat-icon>
              <span>Dashboard</span>
            </span>
          </a>
          <a
            mat-list-item
            routerLink="/projects/list"
            [queryParams]="{ mode: 'all' }"
          >
            <span class="entry">
              <mat-icon>category</mat-icon>
              <span>Products</span>
            </span>
          </a>
          <a mat-list-item routerLink="/users">
            <span class="entry">
              <mat-icon>group</mat-icon>
              <span>Users</span>
            </span>
          </a>
        </div>
        <div class="sidenav-list__additions">
          <sidebar-recent-users />
        </div>
      </mat-nav-list>
    </mat-sidenav>
    }
    <mat-sidenav-content
      [ngStyle]="
        !isAuth && !isSettings && !isErrorPages ? { 'padding-top': '80px' } : {}
      "
    >
      <main
        class="main"
        [ngStyle]="
          !isAuth && !isSettings && !isErrorPages
            ? { padding: '10px 30px 50px' }
            : {}
        "
      >
        <router-outlet></router-outlet>
        <shared-footer />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
