<h2 mat-dialog-title>Edit Project</h2>

<mat-dialog-content>
  <form
    [formGroup]="projectForm"
    class="edit-project-form"
    style="display: flex; flex-direction: column"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Creation of a new graphics render model"
        required
      />
      @if (projectForm.errors?.['title'].required) {
      <mat-error> Title is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="A new model for the graphics render"
        rows="4"
        style="resize: none"
        required
      ></textarea>
      @if (projectForm.errors?.['description'].required) {
      <mat-error> Description is required </mat-error>
      }
    </mat-form-field>

    <div class="form-row">
      <mat-label>Progress</mat-label>
      <mat-slider min="0" max="100" step="1" showTickMarks discrete>
        <input matSliderThumb [formControl]="projectForm.controls.progress" />
      </mat-slider>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Tags</mat-label>
      <mat-select formControlName="tags" multiple [compareWith]="compareTags">
        @for (tag of allTags(); track tag.id) {
        <mat-option [value]="tag.id"> {{ tag.name }} </mat-option>}
      </mat-select>
    </mat-form-field>

    <!-- <div class="attachments-section">
      <h3>Attachments</h3>
      <div class="file-upload-container">
        <input
          type="file"
          #fileInput
          multiple
          (change)="onFileSelected($event)"
          style="display: none"
          accept="application/pdf"
        />
        <button
          mat-raised-button
          color="primary"
          (click)="fileInput.click()"
          [disabled]="isUploading()"
        >
          <mat-icon>attach_file</mat-icon>
          Add Files
        </button>

        @if (isUploading()) {
        <mat-progress-bar
          mode="determinate"
          [value]="uploadProgress()"
        ></mat-progress-bar>
        }

        <mat-list class="file-list">
          @for (file of attachments(); track file.id) {
          <mat-list-item>
            <mat-icon matListItemIcon>description</mat-icon>
            <div matListItemTitle>{{ file.fileName }}</div>
            <div matListItemLine>
              {{ file.fileSize ? (file.fileSize | fileSize) : "Size unknown" }}
            </div>
            <button
              mat-icon-button
              (click)="removeAttachment($index)"
              matTooltip="Delete file"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
            <a
              mat-icon-button
              [href]="file.fileUrl"
              target="_blank"
              matTooltip="View file"
            >
              <mat-icon>visibility</mat-icon>
            </a>
          </mat-list-item>
          } @if (attachments().length === 0) {
          <mat-list-item>
            <div matListItemTitle>No attachments</div>
          </mat-list-item>
          }
        </mat-list>
      </div>
    </div> -->

    <general-information-file-upload-list
      [uploadedFiles]="uploadedFiles"
      [pendingFiles]="pendingFiles"
      [isUploading]="isUploading"
      [uploadProgress]="uploadProgress"
      (uploadRequested)="uploadFiles()"
      (filesSelected)="onFilesSelected($event)"
      (removeFile)="removeFile($event.index, $event.isPending)"
    />
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="projectForm.invalid || isUploading"
  >
    @if (isLoading()) {
    <custom-loader [diameter]="20" />
    } @else { Save Changes}
  </button>
</mat-dialog-actions>
