<h2 mat-dialog-title>Редагувати проєкт</h2>

<mat-dialog-content>
  <form
    [formGroup]="projectForm"
    class="flex flex-col gap-4"
    style="display: flex; flex-direction: column"
  >
    <mat-form-field>
      <mat-label>Назва</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Створення нової моделі рендерингу графіки"
        required
      />
      @if (projectForm.errors?.['title'].required) {
      <mat-error> Назва обов’язкова </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Опис</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Нова модель для рендерингу графіки"
        rows="4"
        style="resize: none"
        required
      ></textarea>
      @if (projectForm.errors?.['description'].required) {
      <mat-error> Опис обов'язковий </mat-error>
      }
    </mat-form-field>

    <div>
      <mat-label>Прогрес</mat-label>
      <mat-slider
        min="0"
        max="100"
        step="1"
        showTickMarks
        discrete
        class="!w-full !m-0"
      >
        <input matSliderThumb formControlName="progress" />
      </mat-slider>
    </div>

    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-select formControlName="tags" multiple [compareWith]="compareTags">
        @for (tag of allTags(); track tag.id) {
        <mat-option [value]="tag.id"> {{ tag.name }} </mat-option>}
      </mat-select>
    </mat-form-field>

    <general-information-file-upload-list
      [uploadedFiles]="uploadedFiles"
      [pendingFiles]="pendingFiles"
      [isUploading]="isUploading"
      [uploadProgress]="uploadProgress"
      [isEditing]="true"
      (uploadRequested)="uploadFiles()"
      (filesSelected)="onFilesSelected($event)"
      (removeFile)="removeFile($event.index, $event.isPending)"
    />
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Скасувати</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="projectForm.invalid || isUploading"
  >
    @if (isLoading()) {
    <custom-loader [diameter]="20" />
    } @else { Зберегти зміни}
  </button>
</mat-dialog-actions>
