<div class="profile__panel">
  <mat-expansion-panel class="profile__panel-expansion">
    <mat-expansion-panel-header class="profile__panel-header">
      <mat-panel-title class="profile__panel-header__title"
        >Filters</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="profile__panel-left">
      <form [formGroup]="searchForm" (ngSubmit)="applyFilters()">
        <div style="padding-bottom: 50px">
          <div class="profile__panel-groups__wrapper">
            <!-- Search Field -->
            <div class="profile__panel-group__wrapper">
              <div class="column profile__panel-group">
                <h4 class="profile__panel-group__title">Search</h4>
                <mat-form-field>
                  <mat-label>Search by title, description or author</mat-label>
                  <input matInput type="text" formControlName="searchQuery" />
                  @if (formControls['searchQuery'].value) {
                  <button
                    matSuffix
                    mat-icon-button
                    (click)="formControls['searchQuery'].setValue('')"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  }
                </mat-form-field>
              </div>

              <!-- Project Type Filter -->
              <div class="profile__panel-group column">
                <h4 class="profile__panel-group__title">Project Type</h4>
                <mat-form-field class="profile__panel-group__formfield">
                  <mat-label>Select project types</mat-label>
                  <mat-select formControlName="projectTypes" multiple>
                    @for (type of projectTypes; track type) {
                    <mat-option [value]="type">{{ type }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="profile__panel-group__wrapper">
              <!-- Date Range Filter -->
              <div class="profile__panel-group column">
                <h4 class="profile__panel-group__title">Date Range</h4>
                <mat-form-field class="profile__panel-group__formfield">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input
                    [rangePicker]="picker"
                    formGroupName="dateRange"
                  >
                    <input
                      matStartDate
                      formControlName="start"
                      placeholder="Start date"
                    />
                    <input
                      matEndDate
                      formControlName="end"
                      placeholder="End date"
                    />
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>

              <!-- Tags Filter -->
              <div class="profile__panel-group column">
                <h4 class="profile__panel-group__title">Project tags</h4>
                <mat-form-field class="profile__panel-group__formfield">
                  <mat-label>Select tags</mat-label>
                  <mat-select formControlName="tags" multiple>
                    @for (tag of availableTags; track tag) {
                    <mat-option [value]="tag.id">{{ tag.name }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="profile__panel-group column">
            <h4 class="profile__panel-group__title" style="text-align: center">
              Progress
            </h4>
            <div
              style="display: flex; justify-content: center; gap: 30px"
              formGroupName="progressRange"
            >
              <label>
                From:
                <input matSliderThumb formControlName="min" />
              </label>
              <label>
                To:
                <input matSliderThumb formControlName="max" />
              </label>
            </div>
          </div>
        </div>

        <mat-expansion-panel
          class="advanced-filters"
          style="margin-bottom: 25px"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Advanced Filters</mat-panel-title>
          </mat-expansion-panel-header>

          <div style="display: flex; justify-content: space-between; gap: 20px">
            <!-- Publication Filters -->
            <div
              class="filter-section"
              formGroupName="publication"
              style="flex: 1"
            >
              <h4>Publication Filters</h4>
              <div
                class="filter-row"
                style="display: flex; flex-direction: column"
              >
                <mat-form-field>
                  <mat-label>Publication Source</mat-label>
                  <input matInput formControlName="source" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>DOI/ISBN</mat-label>
                  <input matInput formControlName="doiIsbn" />
                </mat-form-field>
              </div>
            </div>

            <!-- Research Filters -->
            <div
              class="filter-section"
              formGroupName="research"
              style="flex: 1"
            >
              <h4>Research Filters</h4>
              <div
                class="filter-row"
                style="display: flex; flex-direction: column"
              >
                <mat-form-field>
                  <mat-label>Min Budget</mat-label>
                  <input matInput type="number" formControlName="minBudget" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Max Budget</mat-label>
                  <input matInput type="number" formControlName="maxBudget" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Funding Source</mat-label>
                  <input matInput formControlName="fundingSource" />
                </mat-form-field>
              </div>
            </div>

            <!-- Patent Filters -->
            <div class="filter-section" formGroupName="patent" style="flex: 1">
              <h4>Patent Filters</h4>
              <div
                class="filter-row"
                style="display: flex; flex-direction: column"
              >
                <mat-form-field>
                  <mat-label>Registration Number</mat-label>
                  <input matInput formControlName="registrationNumber" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Issuing Authority</mat-label>
                  <input matInput formControlName="issuingAuthority" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- Action Buttons -->
        <div class="profile__panel-right">
          <button mat-flat-button color="primary" type="submit">
            Apply Filters
          </button>
          <button mat-stroked-button type="button" (click)="resetFilters()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</div>
