<div
  class="min-[1300px]:max-h-[800px] max-h-full h-full p-5 flex flex-col gap-5 justify-center items-center"
>
  <mat-expansion-panel class="w-full bg-[#f5f5f5] overflow-y-scroll">
    <mat-expansion-panel-header>
      <mat-panel-title
        class="text-xl font-semibold text-center flex justify-center"
        >Filters</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div>
      <form
        [formGroup]="searchForm"
        (ngSubmit)="applyFilters()"
        class="flex flex-col gap-[15px]"
      >
        <div class="min-[1300px]:pb-[50px] md:pb-[35px] pb-5">
          <div class="flex flex-col gap-[10px]">
            <!-- Search Field -->
            <div class="flex md:flex-row flex-col gap-[10px]">
              <div class="flex flex-col gap-[10px] flex-1">
                <h4 class="text-center font-medium">Search</h4>
                <mat-form-field>
                  <mat-label>Search by title, description or author</mat-label>
                  <input matInput type="text" formControlName="searchQuery" />
                  @if (formControls['searchQuery'].value) {
                  <button
                    matSuffix
                    mat-icon-button
                    (click)="formControls['searchQuery'].setValue('')"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  }
                </mat-form-field>
              </div>

              <!-- Project Type Filter -->
              <div class="flex flex-col gap-[10px] flex-1">
                <h4 class="text-center font-medium">Project Type</h4>
                <mat-form-field>
                  <mat-label>Select project types</mat-label>
                  <mat-select formControlName="projectTypes" multiple>
                    @for (type of projectTypes; track type) {
                    <mat-option [value]="type">{{ type }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="flex gap-[10px] md:flex-row flex-col">
              <!-- Date Range Filter -->
              <div class="flex flex-col gap-[10px] flex-1">
                <h4 class="text-center font-medium">Date Range</h4>
                <mat-form-field>
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input
                    [rangePicker]="picker"
                    formGroupName="dateRange"
                  >
                    <input
                      matStartDate
                      formControlName="start"
                      placeholder="Start date"
                    />
                    <input
                      matEndDate
                      formControlName="end"
                      placeholder="End date"
                    />
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>

              <!-- Tags Filter -->
              <div class="flex flex-col gap-[10px] flex-1">
                <h4 class="text-center font-medium">Project tags</h4>
                <mat-form-field>
                  <mat-label>Select tags</mat-label>
                  <mat-select formControlName="tags" multiple>
                    @for (tag of availableTags; track tag) {
                    <mat-option [value]="tag.id">{{ tag.name }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-[10px] flex-1 column">
            <h4 class="text-center font-medium">Progress</h4>
            <div
              class="flex justify-center gap-[30px]"
              formGroupName="progressRange"
            >
              <mat-form-field class="md:w-auto w-full">
                <mat-label>From:</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="min"
                  min="0"
                  class="w-full"
                />
              </mat-form-field>
              <mat-form-field class="md:w-auto w-full">
                <mat-label>To:</mat-label>
                <input matInput type="number" formControlName="max" min="0" />
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-expansion-panel class="mb-[25px]">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-center flex justify-center"
              >Advanced Filters</mat-panel-title
            >
          </mat-expansion-panel-header>

          <div class="flex justify-between lg:flex-row flex-col gap-5">
            <!-- Publication Filters -->
            <div class="flex-1" formGroupName="publication">
              <h4 class="text-center font-medium pb-[10px]">
                Publication Filters
              </h4>
              <div class="filter-row flex flex-col">
                <mat-form-field>
                  <mat-label>Publication Source</mat-label>
                  <input matInput formControlName="source" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>DOI/ISBN</mat-label>
                  <input matInput formControlName="doiIsbn" />
                </mat-form-field>
              </div>
            </div>

            <!-- Research Filters -->
            <div class="flex-1" formGroupName="research">
              <h4 class="text-center font-medium pb-[10px]">
                Research Filters
              </h4>
              <div class="filter-row flex flex-col">
                <mat-form-field>
                  <mat-label>Min Budget</mat-label>
                  <input matInput type="number" formControlName="minBudget" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Max Budget</mat-label>
                  <input matInput type="number" formControlName="maxBudget" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Funding Source</mat-label>
                  <input matInput formControlName="fundingSource" />
                </mat-form-field>
              </div>
            </div>

            <!-- Patent Filters -->
            <div class="filter-section flex-1" formGroupName="patent">
              <h4 class="text-center font-medium pb-[10px]">Patent Filters</h4>
              <div class="flex flex-col">
                <mat-form-field>
                  <mat-label>Registration Number</mat-label>
                  <input matInput formControlName="registrationNumber" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Issuing Authority</mat-label>
                  <input matInput formControlName="issuingAuthority" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- Action Buttons -->
        <div class="w-full flex flex-col gap-[15px]">
          <button class="w-full" mat-flat-button color="primary" type="submit">
            Apply Filters
          </button>
          <button
            class="w-full"
            mat-stroked-button
            type="button"
            (click)="resetFilters()"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </mat-expansion-panel>
</div>
