@let allUsers = allUsers$ | async; @let project = project$ | async; @let subtext
= project ? 'Edit your project' : 'Create a new project';

<p class="create-subtext">
  {{ subtext }}
</p>
<mat-stepper #stepper orientation="vertical">
  <mat-step
    [stepControl]="typeForm"
    label="Select a project type"
    errorMessage="Type is required."
  >
    <create-project-type [typeForm]="typeForm" />
  </mat-step>
  <mat-step
    [stepControl]="generalInformationForm"
    label="Fill out general information"
    errorMessage="General information is required."
  >
    <create-project-general-information
      [generalInformationForm]="generalInformationForm"
      [entityType]="typeForm.value.type"
    />
  </mat-step>
  <mat-step
    [stepControl]="
      typeForm.value.type === 'PUBLICATION'
        ? publicationsForm
        : typeForm.value.type === 'PATENT'
        ? patentsForm
        : researchProjects
    "
    errorMessage="Type-specific information is required."
    label="Fill out work information"
  >
    @if ( typeForm.value.type === 'PUBLICATION') {
    <create-project-publication-form
      [publicationForm]="publicationsForm"
      [allUsers]="allUsers"
      [authors]="authors"
    />
    }@else if ( typeForm.value.type === 'PATENT') {
    <create-project-patent-form
      [patentsForm]="patentsForm"
      [authors]="authors"
    />
    } @if ( typeForm.value.type === 'RESEARCH') {
    <create-project-research-form
      [researchProjectsForm]="researchProjects"
      [allUsers]="allUsers"
      [authors]="authors"
    />
    }
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submitForm()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>
