<div class="projects">
  <h3 class="projects__title">Projects</h3>
  <div class="projects__content">
    <profile-filter-panel />
    <div class="projects__list">
      <button
        mat-raised-button
        color="primary"
        style="width: 100%"
        (click)="addPublication()"
      >
        Add project
      </button>
      @for (project of paginationService.visibleElements; track $index) {
      <div>
        <shared-project-card [project]="project" />
        <div class="projects__actions">
          <button
            mat-raised-button
            color="primary"
            (click)="approve(project.id)"
            style="width: 100%"
          >
            Approve
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="editUser(project.id)"
            style="width: 100%"
          >
            Edit
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteUser(project.id)"
            style="width: 100%"
          >
            Delete
          </button>
        </div>
      </div>

      }
    </div>
    @if(projects.length > paginationService.itemsPerPage) {
    <!-- get rid of the service in html (not important) -->
    <shared-pagination
      [pages]="pages"
      [currentPage]="paginationService.currentPage"
      (prevPage)="paginationService.prevPage()"
      (nextPage)="paginationService.nextPage()"
      (goToPage)="paginationService.goToPage($event)"
    />
    }
  </div>
</div>
