@let publication = (publication$ | async); @if (error) {
<div class="error-message">
  Failed to load publication details. Please try again later.
</div>
} @else if (publication) {
<div class="publication">
  <div class="publication__authors publication__section">
    <h4 class="publication__section-title">Authors</h4>
    <ul class="publication__authors-list">
      @for (author of publication.authors; track author) {
      <li class="publication__authors-list__item">{{ author.username }}</li>
      }
    </ul>
  </div>
  <div class="publication__section">
    <h4 class="publication__section-title">Publication date</h4>
    <p class="publication__section-text">
      {{ publication.publicationDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="publication__section">
    <h4 class="publication__section-title">Publication source</h4>
    <p class="publication__section-text">{{ publication.publicationSource }}</p>
  </div>
  <div class="publication__section">
    <h4 class="publication__section-title">DOI/ISBN</h4>
    <p class="publication__section-text">{{ publication.doiIsbn }}</p>
  </div>
  <div class="publication__section">
    <h4 class="publication__section-title">Pages</h4>
    <p class="publication__section-text">
      {{ publication.startPage }} - {{ publication.endPage }}
    </p>
  </div>
  <div class="publication__section">
    <h4 class="publication__section-title">Journal volume</h4>
    <p class="publication__section-text">{{ publication.journalVolume }}</p>
  </div>
  <div class="publication__section">
    <h4 class="publication__section-title">Issue numbers</h4>
    <p class="publication__section-text">{{ publication.issueNumber }}</p>
  </div>
</div>
} @else {
<div class="loading-message">Loading publication details...</div>
}
