@let publication = (publication$ | async); @if (error) {
<div class="error-message">
  Failed to load publication details. Please try again later.
</div>
} @else if (publication) {
<div class="flex justify-between gap-[20px] flex-wrap sm:flex-row flex-col">
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">Authors</h4>
    <ul class="list-none flex flex-col gap-[10px]">
      @for (author of publication.authors; track author) {
      <li>{{ author.username }}</li>
      }
    </ul>
  </div>
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">Publication date</h4>
    <p>
      {{ publication.publicationDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">Publication source</h4>
    <p>{{ publication.publicationSource }}</p>
  </div>
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">DOI/ISBN</h4>
    <p class="publication__section-text">{{ publication.doiIsbn }}</p>
  </div>
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">Pages</h4>
    <p class="publication__section-text">
      {{ publication.startPage }} - {{ publication.endPage }}
    </p>
  </div>
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">Journal volume</h4>
    <p class="publication__section-text">{{ publication.journalVolume }}</p>
  </div>
  <div class="sm:text-center text-left">
    <h4 class="font-medium pb-[5px]">Issue numbers</h4>
    <p class="publication__section-text">{{ publication.issueNumber }}</p>
  </div>
</div>
} @else {
<div class="loading-message">Loading publication details...</div>
}
