@let userGrowth = userGrowthChart$ | async;

<mat-card>
  <mat-card-header>
    <mat-card-title>User Analytics</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="filter-row">
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          (dateChange)="onStartDateChange($event.value)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input
          matInput
          [matDatepicker]="endPicker"
          (dateChange)="onEndDateChange($event.value)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
    @if (loading()) {
    <div class="loading-spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    } @else if (error()) {
    <div class="error-message">
      <mat-icon color="warn">error_outline</mat-icon>
      {{ error() }}
    </div>
    } @else if(userGrowth){ @if(userGrowth.length &&
    userGrowth[0].series.length) {
    <ngx-charts-line-chart
      [results]="userGrowth"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Date"
      yAxisLabel="Users"
      [legend]="true"
      scheme="cool"
      [animations]="true"
    ></ngx-charts-line-chart>
    } @else { @if(startDate() && endDate()) { No user data available for
    selected period } @else { Please select both start and end dates } }}
  </mat-card-content>
</mat-card>
