<div class="main-settings">
  <h2 class="main-settings__title">Research Settings</h2>

  <form
    class="main-settings__form"
    [formGroup]="settingsForm"
    (ngSubmit)="saveResearchSettings()"
  >
    <div class="main-settings__form-inner">
      <mat-form-field class="main-settings__form-item">
        <mat-label>Default Research Type</mat-label>
        <mat-select name="research-type" formControlName="defaultType" required>
          <mat-option value="publications">Publications</mat-option>
          <mat-option value="patents">Patents</mat-option>
          <mat-option value="projects">Projects</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="main-settings__form-item">
        <h4 style="padding-bottom: 5px">Default Year Range</h4>
        <div
          style="display: flex; justify-content: space-between"
          [formGroup]="settingsForm.controls.yearRange"
        >
          <mat-form-field>
            <mat-label>Start Year</mat-label>
            <input
              matInput
              type="number"
              name="start-year"
              formControlName="start"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>End Year</mat-label>
            <input
              matInput
              type="number"
              name="end-year"
              formControlName="end"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <div class="main-settings__form-item">
        <mat-checkbox name="enable-sharing" formControlName="enableSharing">
          Enable Research Sharing
        </mat-checkbox>
      </div>
    </div>

    <button
      mat-flat-button
      type="submit"
      class="main-settings__form-btn"
      [disabled]="settingsForm.invalid"
    >
      Save Research Settings
    </button>
  </form>
</div>
