@if (projectLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else if (project()) {
<div class="details">
  <div class="details-header">
    <div class="details-header__status">
      <h4 class="details-header__status-title">
        Status: {{ getStatusOnProgess(project()!.progress) }} or
        {{ project()!.progress }}%
      </h4>
      <mat-progress-bar
        class="details-header__status-progress"
        mode="determinate"
        [value]="project()!.progress"
      ></mat-progress-bar>
    </div>
    <div class="details-header__btns">
      <button
        mat-flat-button
        class="details-header__btns-item"
        (click)="onEdit()"
      >
        Edit <mat-icon>edit_note</mat-icon>
      </button>
      <button
        mat-flat-button
        class="details-header__btns-item"
        (click)="onDelete()"
      >
        Delete <mat-icon>delete</mat-icon>
      </button>
      <button mat-flat-button class="details-header__btns-item">
        Share <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
  <div class="details-basic">
    <h3 class="details-basic__section-title">Basic</h3>
    <p class="details-basic__title details-basic__item">
      <span class="details-subtitle">Title:</span> {{ project()!.title }}
    </p>
    <p class="details-basic__description details-basic__item">
      <span class="details-subtitle">Description:</span>
      {{ project()!.description }}
    </p>
    <p class="details-basic__lastupdated details-basic__item">
      <span class="details-subtitle">Last updated:</span>
      {{ project()!.updatedAt | date : "medium" }}
    </p>
  </div>
  <div class="details-content">
    <h3 class="details-basic__section-title">
      {{ project()!.type | titlecase }}
    </h3>
    @switch (project()!.type) { @case('PUBLICATION') {
    <details-publication [id]="project()!.id" />
    } @case('PATENT') {
    <details-patent [id]="project()!.id" />
    } @case('RESEARCH') { <details-research-project [id]="project()!.id" /> }
    @default {
    <p>Unknown work type</p>
    } }
  </div>
  <div class="details-attachments">
    <h3 class="details-attachments__title">Attachments Section</h3>
    @if(errorMessage()) {
    <p class="error-message">{{ errorMessage() }}</p>
    }
    <ul class="details-attachments__list">
      @if (attachments()) { @for (attachment of attachments(); track attachment)
      {
      <li class="details-attachments__list-item">
        <h5 class="details-attachments__list-item__title">
          {{ attachment.fileName | truncateText : 20 }}
        </h5>
        <a
          mat-flat-button
          class="details-attachments__list-item__btn"
          [href]="attachment.fileUrl"
          target="_blank"
          download
        >
          Download PDF <mat-icon>picture_as_pdf</mat-icon>
        </a>
      </li>
      }@empty {
      <p>No attachments found.</p>
      } } @else {
      <p>Loading attachments...</p>
      }
    </ul>
  </div>

  <div class="details-attachments">
    <h3 class="details-attachments__title">Project tags:</h3>
    <ul class="details-attachments__list">
      @if(tags() ) { @for (tag of tags()!; track tag) {
      <li class="details-attachments__list-item">
        <button mat-flat-button class="details-attachments__list-item__btn">
          {{ tag.name }}
        </button>
      </li>
      } }
    </ul>
  </div>

  <div class="details-comments">
    <h3 class="details-comments__title">Comments Section</h3>

    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
      "
    >
      <textarea
        [(ngModel)]="newCommentContent"
        style="width: 100%; resize: none; height: 100px; padding: 10px 15px"
        placeholder="Write a comment..."
      ></textarea>
      <button mat-flat-button style="width: 100%" (click)="postComment()">
        Post comment
      </button>
    </div>
    @if(commentsLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
    <div class="comments-list">
      @if(comments() && comments()!.length > 0) { @for (comment of comments()!;
      track comment) {
      <shared-comment
        [comment]="comment"
        (like)="onCommentLikeToggle($event)"
        (edit)="onCommentEdit($event.id, $event.content)"
        (delete)="onCommentDelete($event)"
        (reply)="startReply($event)"
      />

      @if(replyingToCommentId() === comment.id) {
      <div class="reply-input">
        <textarea
          [(ngModel)]="replyContent"
          placeholder="Write your reply..."
          style="width: 100%; resize: none; height: 150px; padding: 10px 15px"
        ></textarea>
        <div class="reply-buttons" style="display: flex">
          <button
            mat-button
            (click)="postReply(comment.id)"
            style="flex: 1"
            mat-stroked-button
          >
            Post reply
          </button>
          <button
            mat-button
            (click)="cancelReply()"
            style="flex: 1"
            mat-stroked-button
          >
            Cancel
          </button>
        </div>
      </div>
      } @if(comment.replies && comment.replies.length > 0) {
      <div>
        @for (reply of comment.replies; track reply.id) {
        <shared-comment
          [comment]="reply"
          (like)="onCommentLikeToggle($event)"
          (edit)="onCommentEdit($event.id, $event.content)"
          (delete)="onCommentDelete($event)"
          (reply)="startReply($event)"
          [isReply]="true"
        />
        }
      </div>
      } } } @else {
      <p>No comments yet. Be the first to comment!</p>
      }
    </div>
    }
  </div>
</div>
} @else if (errorMessage()) {
<p class="error-message">{{ errorMessage() }}</p>
}
