@if (research$ | async; as researchProject) {

<div class="research-project">
  <div class="research-project__authors research-project__section">
    <h4 class="research-project__section-title">Participant</h4>
    <ul class="research-project__authors-list">
      @for(participant of researchProject.participants; track participant) {
      <li class="research-project__authors-list__item">
        {{ participant.name }}
      </li>
      }
    </ul>
  </div>
  <div class="research-project__section">
    <h4 class="research-project__section-title">Budget</h4>
    <p class="research-project__section-text">
      {{ researchProject.budget | currency : "USD" }}
    </p>
  </div>
  <div class="research-project__section">
    <h4 class="research-project__section-title">Start date</h4>
    <p class="research-project__section-text">
      {{ researchProject.startDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="research-project__section">
    <h4 class="research-project__section-title">End date</h4>
    <p class="research-project__section-text">
      {{ researchProject.endDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="research-project__section">
    <h4 class="research-project__section-title">Status</h4>
    <p class="research-project__section-text">{{ researchProject.status }}</p>
  </div>
  <div class="research-project__section">
    <h4 class="research-project__section-title">Funding source</h4>
    <p class="research-project__section-text">
      {{ researchProject.fundingSource }}
    </p>
  </div>
</div>
}
