.research-project {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  &__authors {
    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
      }
    }
  }

  &__section {
    text-align: center;
    &-title {
      padding-bottom: 5px;
    }
    &-text {
    }
  }
}
