@let participants = participants$ | async; @let researchProject = (research$ |
async); @if (researchError) {
<div class="text-lg font-semibold text-red-500 sm:text-start text-center">
  Не вдалося завантажити деталі дослідження. Спробуйте ще раз пізніше.
</div>
} @else if (researchProject) {
<div
  class="flex justify-between sm:text-start text-center gap-[20px] flex-wrap sm:flex-row flex-col"
>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="w-full text-center flex justify-center !mr-0">
          <h4 class="font-medium pb-[5px] text-center">Учасники</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (participantsError) {
      <div class="font-semibold text-red-500 sm:text-start text-center">
        Не вдалося завантажити деякі дані учасників
      </div>
      }
      <ul class="list-none flex flex-col gap-[10px]">
        @for (participant of participants; track participant.id) {
        <li class="text-center">{{ participant.username }}</li>
        }
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Бюджет</h4>
    <p>
      {{ researchProject.budget | currency : "USD" }}
    </p>
  </div>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Дата початку</h4>
    <p>
      {{ researchProject.startDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Дата завершення</h4>
    <p>
      {{ researchProject.endDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Статус</h4>
    <p>
      {{ researchProject.status | titlecase }}
    </p>
  </div>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Джерело фінансування</h4>
    <p>
      {{ researchProject.fundingSource }}
    </p>
  </div>
</div>
} @else {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
