<div class="profile-projects">
  <h4 class="profile-projects__title">My projects</h4>
  <div class="profile-projects__container">
    @if(isFiltered()) {
    <profile-filter-panel (filtersApplied)="filters.emit($event)" />
    }
    <div class="profile-projects__list">
      @for (project of paginatedProjects(); track $index) {
      <shared-project-card [project]="project" />
      }
    </div>
    @if(projects().length > pageSize()) {
    <mat-paginator
      [length]="projects().length"
      [pageSize]="pageSize()"
      [pageIndex]="currentPage()"
      [pageSizeOptions]="[5, 8, 10, 25]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
    }
  </div>
</div>
