<div class="profile-projects">
  <h4 class="profile-projects__title">My {{ type().toLowerCase() }}</h4>
  @if(projects().length > 0) {
  <div class="profile-projects__container">
    @if(isFiltered()) {
    <profile-filter-panel
      (filtersApplied)="onFiltersApplied($event)"
      (filtersReset)="onFiltersReset()"
    />
    }
    <div class="profile-projects__list">
      @for (project of paginatedProjects(); track $index) {
      <shared-project-card [project]="project" />
      }
    </div>
    @if(projects().length > pageSize()) {
    <mat-paginator
      [length]="projects().length"
      [pageSize]="pageSize()"
      [pageIndex]="currentPage()"
      [pageSizeOptions]="[5, 8, 10, 25]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
    }
  </div>
  } @else {
  <div>
    <p class="profile-projects__empty">No {{ type().toLowerCase() }} found.</p>
    @if(isFiltered()) {
    <button mat-button (click)="onFiltersReset()">Reset filtration</button>
    }
  </div>
  }
</div>
