<div>
  <h4 class="py-5 text-xl font-medium sm:text-start text-center">
    My {{ type().toLowerCase() }}
  </h4>
  @if(projects().length > 0) {
  <div class="flex flex-col gap-5 pb-5">
    @if(isFiltered()) {
    <profile-filter-panel
      (filtersApplied)="onFiltersApplied($event)"
      (filtersReset)="onFiltersReset()"
    />
    }
    <div class="flex flex-wrap gap-[30px] justify-center">
      @for (project of projects(); track $index) {
      <shared-project-card [project]="project" />
      }
    </div>

    <mat-paginator
      [length]="totalItems()"
      [pageSize]="pageSize()"
      [pageIndex]="currentPage()"
      [pageSizeOptions]="[5, 8, 10, 25]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  } @else {
  <div>
    <p class="text-lg font-semibold sm:text-start text-center">
      No {{ type().toLowerCase() }} found.
    </p>
    @if(isFiltered()) {
    <button mat-button (click)="onFiltersReset()">Reset filtration</button>
    }
  </div>
  }
</div>
