<div class="list">
  <profile-filter-panel />
  <div class="list__projects">
    @for (project of paginationService.visibleElements; track $index) {
    <shared-project-card [project]="project" />
    }
  </div>
  @if(projects.length > paginationService.itemsPerPage) {
  <!-- get rid of the service in html (not important) -->
  <shared-pagination
    [pages]="pages"
    [currentPage]="paginationService.currentPage"
    (prevPage)="paginationService.prevPage()"
    (nextPage)="paginationService.nextPage()"
    (goToPage)="paginationService.goToPage($event)"
  />
  }
</div>
