<div>
  @if (isLoading()) {
  <mat-spinner diameter="40"></mat-spinner>
  } @else if (error()) {
  <mat-card class="error-card">
    <mat-card-content>
      {{ error() }}
      <button mat-button color="primary" (click)="refreshActiveUsers()">
        <mat-icon>refresh</mat-icon> Спробувати знову
      </button>
    </mat-card-content>
  </mat-card>
  } @else { @if (activeUsers && activeUsers.length > 0) {
  <div class="flex gap-[30px]">
    @for (user of activeUsers; track user.id) {
    <shared-user-card [user]="user" />
    }
  </div>
  }@else {
  <p class="no-users-message">Немає активних користувачів</p>
  }}
</div>
