@let publicationsForm = publicationsFormSig(); @let allUsers = allUsers$ |
async;

{{ publicationsFormSig().value | json }}
<form [formGroup]="publicationsForm" class="project-publication__form">
  <mat-form-field>
    <mat-label>Authors</mat-label>
    <mat-select
      formControlName="authors"
      multiple
      [compareWith]="compareAuthors"
    >
      <mat-select-trigger>
        {{(publicationsFormSig().value.authors?.[0] || '') | authorName:allUsers}}
        @if ((publicationsFormSig().value.authors?.length || 0) > 1) {
        <span class="example-additional-selection">
          (+{{ (publicationsFormSig().value.authors?.length || 0) - 1 }}
          {{
            publicationsFormSig().value.authors?.length === 2
              ? "other"
              : "others"
          }})
        </span>
        }
      </mat-select-trigger>
      <input placeholder="Jake Smith" />
      @for (author of allUsers; track author) {
      <mat-option [value]="author.id">{{ author.username }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Publication date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="publicationDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Publication source</mat-label>
    <input
      type="text"
      placeholder="Publication source"
      matInput
      formControlName="publicationSource"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>DOI/ISBN</mat-label>
    <input
      type="text"
      placeholder="https://doi.org/10.1080/10509585.2015.1092083"
      matInput
      formControlName="doiIsbn"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start pages</mat-label>
    <input
      type="number"
      placeholder="10"
      matInput
      formControlName="startPage"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>End pages</mat-label>
    <input type="number" placeholder="20" matInput formControlName="endPage" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Journal volume</mat-label>
    <input
      type="number"
      placeholder="1"
      matInput
      formControlName="journalVolume"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Issue Number</mat-label>
    <input
      type="number"
      placeholder="1"
      matInput
      formControlName="issueNumber"
    />
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext [disabled]="publicationsForm.invalid">
      Next
    </button>
  </div>
</form>
