@let allUsers = allUsers$ | async;

<form
  [formGroup]="publicationsForm()"
  class="flex flex-col gap-[10px] py-[15px]"
>
  <mat-form-field>
    <mat-label>Автори</mat-label>
    <mat-select
      formControlName="authors"
      multiple
      [compareWith]="compareAuthors"
    >
      <mat-select-trigger>
        {{(publicationsForm().value.authors?.[0] || 0) | authorName:allUsers}}
        @if ((publicationsForm().value.authors?.length || 0) > 1) {
        <span class="example-additional-selection">
          (+{{ (publicationsForm().value.authors?.length || 0) - 1 }}
          {{
            publicationsForm().value.authors?.length === 2 ? "other" : "others"
          }})
        </span>
        }
      </mat-select-trigger>
      @for (author of allUsers; track author) {
      <mat-option [value]="author.id">{{ author.username }}</mat-option>
      }
    </mat-select>
    @if (publicationsForm().controls.authors.invalid &&
    publicationsForm().controls.authors.touched) {
    <mat-error>{{ formErrors.authors.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дата публікації</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="publicationDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <shared-form-error
      [control]="publicationsForm().controls.publicationDate"
      [errors]="[
        { key: 'required', message: formErrors.publicationDate.required },
        { key: 'futureDate', message: formErrors.publicationDate.futureDate }
      ]"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Джерело публікації</mat-label>
    <input
      type="text"
      placeholder="Джерело публікації"
      matInput
      formControlName="publicationSource"
    />
    @if (publicationsForm().controls.publicationSource.invalid &&
    publicationsForm().controls.publicationSource.touched) {
    <mat-error>{{ formErrors.publicationSource.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>DOI/ISBN</mat-label>
    <input
      type="text"
      placeholder="https://doi.org/10.1080/10509585.2015.1092083"
      matInput
      formControlName="doiIsbn"
    />
    @if (publicationsForm().controls.doiIsbn.invalid &&
    publicationsForm().controls.doiIsbn.touched) {
    <mat-error>{{ formErrors.doiIsbn.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Початкові сторінки</mat-label>
    <input
      type="number"
      placeholder="10"
      matInput
      formControlName="startPage"
    />
    <shared-form-error
      [control]="publicationsForm().controls.startPage"
      [errors]="[
        { key: 'required', message: formErrors.startPage.required },
        { key: 'invalidRange', message: formErrors.startPage.invalidRange }
      ]"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Кінцеві сторінки</mat-label>
    <input type="number" placeholder="20" matInput formControlName="endPage" />
    <shared-form-error
      [control]="publicationsForm().controls.endPage"
      [errors]="[
        { key: 'required', message: formErrors.endPage.required },
        { key: 'invalidRange', message: formErrors.endPage.invalidRange }
      ]"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Обсяг журналу</mat-label>
    <input
      type="number"
      placeholder="1"
      matInput
      formControlName="journalVolume"
    />
    @if (publicationsForm().controls.journalVolume.invalid &&
    publicationsForm().controls.journalVolume.touched) {
    <mat-error>{{ formErrors.journalVolume.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Номер випуску</mat-label>
    <input
      type="number"
      placeholder="1"
      matInput
      formControlName="issueNumber"
    />
    @if (publicationsForm().controls.issueNumber.invalid &&
    publicationsForm().controls.issueNumber.touched) {
    <mat-error>{{ formErrors.issueNumber.required }}</mat-error>
    }
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Назад</button>
    <button mat-button matStepperNext [disabled]="publicationsForm().invalid">
      Далі
    </button>
  </div>
</form>
