<div class="flex flex-col gap-[25px]">
  <div class="stats-section">
    <mat-card>
      <mat-card-header class="sm:justify-start justify-center">
        <mat-card-title>
          <h2 class="text-xl font-semibold pb-[10px] sm:text-start text-center">
            Статистика входу
          </h2></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        @if (error()) {
        <div>
          <div
            class="sm:text-xl text-lg text-red-600 font-semibold text-center"
          >
            {{ error() }}
          </div>
          <button mat-button color="primary" (click)="retryLoadData()">
            Повторити спробу
          </button>
        </div>
        } @else if (loginStats() === null) {
        <custom-loader [diameter]="30" />
        } @else {
        <div>{{ loginStats() || 0 }} авторизацій за останні 24 години</div>
        }
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card class="overflow-x-scroll">
      <mat-card-header class="sm:justify-start justify-center">
        <mat-card-title>
          <h2 class="text-xl font-semibold pb-[10px] sm:text-start text-center">
            Останні авторизації
          </h2></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        @if (error()) {
        <div>
          <div
            class="sm:text-xl text-lg text-red-600 font-semibold text-center"
          >
            {{ error() }}
          </div>
        </div>
        <button mat-button color="primary" (click)="retryLoadData()">
          Повторити спробу
        </button>
        } @else if(recentLogins() === null) {
        <custom-loader [diameter]="30" />
        } @else {
        <table
          mat-table
          [dataSource]="recentLogins() || []"
          class="table-auto md:table-fixed"
        >
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Ім'я користувача</th>
            <td mat-cell *matCellDef="let login">{{ login.username }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let login">{{ login.email }}</td>
          </ng-container>

          <ng-container matColumnDef="loginTime">
            <th mat-header-cell *matHeaderCellDef>Час входу</th>
            <td mat-cell *matCellDef="let login">
              {{ login.loginTime | date : "medium" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="ipAddress">
            <th mat-header-cell *matHeaderCellDef>IP адреса</th>
            <td mat-cell *matCellDef="let login">{{ login.ipAddress }}</td>
          </ng-container>

          <ng-container matColumnDef="userAgent">
            <th mat-header-cell *matHeaderCellDef>User agent</th>
            <td mat-cell *matCellDef="let login">{{ login.userAgent }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
