@let allUsers = allUsers$ | async;

<form [formGroup]="patentsForm()" class="project-patent__form">
  <mat-form-field>
    <mat-label>Основний автор</mat-label>
    <mat-select
      formControlName="primaryAuthor"
      [compareWith]="comparePrimaryAuthors"
    >
      @for (author of allUsers; track author) {
      <mat-option [value]="author.id">{{ author.username }}</mat-option>
      }
    </mat-select>
    @if (patentsForm().controls.primaryAuthor.invalid &&
    patentsForm().controls.primaryAuthor.touched) {
    <mat-error>{{ formErrors.primaryAuthor.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Співвинахідники</mat-label>
    <mat-select
      formControlName="coInventors"
      multiple
      [compareWith]="compareCoInventors"
    >
      @for (coInventor of allUsers; track coInventor) {
      @if(selectedPrimaryAuthor === null || +coInventor.id !==
      selectedPrimaryAuthor){

      <mat-option [value]="coInventor.id">{{ coInventor.username }}</mat-option>
      } }
    </mat-select>
    @if (patentsForm().controls.coInventors.invalid &&
    patentsForm().controls.coInventors.touched) {
    <mat-error>{{ formErrors.coInventors.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Номер реєстрації патенту</mat-label>
    <input
      type="text"
      placeholder="US 7,654,321 B1"
      matInput
      formControlName="registrationNumber"
    />
    @if (patentsForm().controls.registrationNumber.invalid &&
    patentsForm().controls.registrationNumber.touched) {
    <mat-error>{{ formErrors.registrationNumber.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дата реєстрації</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="registrationDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (patentsForm().controls.registrationDate.invalid &&
    patentsForm().controls.registrationDate.touched) {
    <mat-error>{{ formErrors.registrationDate.required }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Орган видачі</mat-label>
    <input
      type="text"
      placeholder="Issuing State"
      matInput
      formControlName="issuingAuthority"
    />
    @if (patentsForm().controls.issuingAuthority.invalid &&
    patentsForm().controls.issuingAuthority.touched) {
    <mat-error>{{ formErrors.issuingAuthority.required }}</mat-error>
    }
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Назад</button>
    <button mat-button matStepperNext>Далі</button>
  </div>
</form>
