@let patentsForm = patentsFormSig();

<form [formGroup]="patentsForm" class="project-patent__form">
  <mat-form-field>
    <mat-label>Primary author</mat-label>
    <mat-select formControlName="coInventors">
      @for (author of allUsersSig(); track author) {
      <mat-option [value]="author.id">{{ author.username }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Co-inventors</mat-label>
    <mat-select formControlName="coInventors" multiple>
      @for (coInventor of allUsersSig(); track coInventor) {
      <mat-option [value]="coInventor.id">{{ coInventor.username }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Patent Registration Number</mat-label>
    <input
      type="text"
      placeholder="US 7,654,321 B1"
      matInput
      formControlName="registrationNumber"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of Registration</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="registrationDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Issuing Authority</mat-label>
    <input
      type="text"
      placeholder="Issuing State"
      matInput
      formControlName="issuingAuthority"
    />
  </mat-form-field>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext [disabled]="patentsForm.invalid">
      Next
    </button>
  </div>
</form>
