<div>
  @if (formError()) {
  <div class="text-lg font-semibold text-red-500 sm:text-start text-center">
    {{ formError() }}
  </div>
  }

  <div>
    <h3 class="text-lg font-semibold pb-[10px] sm:text-start text-center">
      Редагувати інформацію профілю
    </h3>

    <form
      class="flex flex-col md:gap-[10px] gap-5 pb-5"
      [formGroup]="profileForm"
    >
      <mat-form-field>
        <mat-label>Номер телефону</mat-label>
        <input
          matInput
          formControlName="phoneNumber"
          placeholder="+1 234-567-8901"
        />
        @if (profileForm.get('phoneNumber')?.invalid &&
        (profileForm.get('phoneNumber')?.dirty ||
        profileForm.get('phoneNumber')?.touched)) { @if
        (profileForm.get('phoneNumber')?.hasError('pattern')) {
        <mat-error>Будь ласка, введіть дійсний номер телефону</mat-error>
        } }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата народження</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Тип користувача</mat-label>
        <mat-select formControlName="userType">
          <mat-option value="student">Студент</mat-option>
          <mat-option value="teacher">Викладач</mat-option>
          <mat-option value="researcher">Дослідник</mat-option>
          <mat-option value="staff">Персонал</mat-option>
        </mat-select>
        @if (profileForm.get('userType')?.invalid &&
        (profileForm.get('userType')?.dirty ||
        profileForm.get('userType')?.touched)) {
        <mat-error>Будь ласка, виберіть тип користувача</mat-error>
        }
      </mat-form-field>

      @if (profileForm.value.userType === 'student') {
      <mat-form-field>
        <mat-label>Університетська група</mat-label>
        <input
          matInput
          formControlName="universityGroup"
          [required]="profileForm.value.userType === 'student'"
        />
        @if (profileForm.get('universityGroup')?.invalid &&
        (profileForm.get('universityGroup')?.dirty ||
        profileForm.get('universityGroup')?.touched)) {
        <mat-error>Для студентів обов'язкова університетська група</mat-error>
        }
      </mat-form-field>
      }
      <div>
        <h3 class="text-lg font-semibold pb-[10px] sm:text-start text-center">
          Соціальні посилання
        </h3>

        <div class="flex flex-col md:gap-[10px] gap-5 pb-5">
          <div class="flex gap-3 items-center">
            <mat-form-field>
              <mat-label>Додати посилання на соціальну мережу</mat-label>
              <input
                class="w-full"
                matInput
                [(ngModel)]="newLink"
                [ngModelOptions]="{ standalone: true }"
                placeholder="https://example.com"
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="addSocialLink()"
              type="button"
            >
              Додати
            </button>
          </div>

          <div
            class="flex flex-col md:gap-[10px] gap-5"
            formArrayName="socialLinks"
          >
            @for (link of socialLinksArray.controls; track $index; let i =
            $index) {
            <div class="flex items-center gap-2" [formGroupName]="i">
              <mat-form-field>
                <mat-label>Назва посилання</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Назва посилання"
                />
                @if (link.get('name')?.invalid && (link.get('name')?.dirty ||
                link.get('name')?.touched)) {
                <mat-error>Ім'я обов'язкове</mat-error>
                }
              </mat-form-field>
              <span class="link-url">{{ link.get("url")?.value }}</span>
              <button
                mat-icon-button
                type="button"
                (click)="removeSocialLink(i)"
              >
                <mat-icon class="text-red-500">delete</mat-icon>
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="profile__form-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isLoading()"
      (click)="onSubmit()"
    >
      @if (isLoading()) {
      <custom-loader [diameter]="20" />
      } @else { Save Changes }
    </button>
    <button mat-button type="button" (click)="onCancel()">Скасувати</button>
  </div>
</div>
