@if (loading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else if (error) {
<div
  class="flex sm:justify-start justify-center items-center gap-4 flex-wrap px-2"
>
  <div class="text-lg font-semibold text-red-500 sm:text-left text-center">
    Не вдалося завантажити інформацію про патент. Спробуйте пізніше.
  </div>
  <button mat-button (click)="retry()">Повторити спробу</button>
</div>
} @else if (patent()) {
<div
  class="flex justify-between sm:text-start text-center gap-[20px] flex-wrap sm:flex-row flex-col"
>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Основний автор</h4>
    <p>
      {{ patent()?.primaryAuthor?.username || "Не вказано" }}
    </p>
  </div>
  @if (coInventors() && coInventors().length > 0) {
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="w-full text-center flex justify-center !mr-0">
          <h4 class="font-medium pb-[5px] text-center">Співвинахідники</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="list-none flex flex-col gap-[10px]">
        @for (coInventor of coInventors(); track coInventor) {
        <li class="text-center">{{ coInventor.username }}</li>
        }
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
  }
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Реєстраційний номер</h4>
    <p>
      {{ patent()?.registrationNumber || "Не вказано" }}
    </p>
  </div>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Дата реєстрації</h4>
    <p>
      @if (patent()?.registrationDate) {
      {{ patent()?.registrationDate | date : "mediumDate" }}
      } @else { Not specified }
    </p>
  </div>
  <div class="text-center">
    <h4 class="font-medium pb-[5px]">Орган, що видав</h4>
    <p>
      {{ patent()?.issuingAuthority || "Не вказано" }}
    </p>
  </div>
</div>
} @else {
<div class="text-lg font-semibold text-black sm:text-start text-center">
  Немає інформації про патент
</div>
}
