@let patent = patents[0];

<div class="patent">
  <div class="patent__section">
    <h4 class="patent__section-title">Primary author</h4>
    <p class="patent__section-text">{{ patent?.primaryAuthor }}</p>
  </div>

  <div class="patent__coinventors patent__section">
    <h4 class="patent__section-title">Co-inventors</h4>
    <ul class="patent__coinventors-list">
      @for (coInventor of patent?.coInventors; track coInventor) {
      <li class="patent__coinventors-list__item">{{ coInventor }}</li>
      }
    </ul>
  </div>
  <div class="patent__section">
    <h4 class="patent__section-title">Registration number</h4>
    <p class="patent__section-text">{{ patent?.registrationNumber }}</p>
  </div>
  <div class="patent__section">
    <h4 class="patent__section-title">Registration date</h4>
    <p class="patent__section-text">
      {{ patent?.registrationDate | date : "mediumDate" }}
    </p>
  </div>
  <div class="patent__section">
    <h4 class="patent__section-title">Issuing authority</h4>
    <p class="patent__section-text">{{ patent?.issuingAuthority }}</p>
  </div>
</div>
