@if(projectDistribution() || projectProgress()){

<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project Type Distribution</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (projectDistributionChart$ | async; as chartData) { @if
        (chartData.length) {
        <ngx-charts-pie-chart
          [results]="chartData"
          [labels]="true"
          [doughnut]="true"
          scheme="vivid"
          [animations]="true"
        >
        </ngx-charts-pie-chart
        >}@else{
        <div>No distribution data available</div>
        } } @else {
        <mat-spinner diameter="40"></mat-spinner>
        }
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project Progress</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (projectProgressChart$ | async; as chartData) { @if
        (chartData.length) {
        <ngx-charts-bar-vertical
          [results]="chartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Progress"
          yAxisLabel="Count"
          scheme="cool"
          [animations]="true"
        >
        </ngx-charts-bar-vertical>
        } @else {
        <div class="no-data">No progress data available</div>
        } } @else {
        <mat-spinner diameter="40"></mat-spinner>
        }
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
} @else {
<div class="loading-container">
  <mat-spinner diameter="60"></mat-spinner>
</div>
}
