<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project Type Distribution</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if ((projectDistributionChart$ | async)?.length; as chartData) {
        <ngx-charts-pie-chart
          [results]="chartData"
          [labels]="true"
          [doughnut]="true"
        >
        </ngx-charts-pie-chart>
        } @else{
        <p>No distribution data are available</p>
        }
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project Progress</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if ((projectProgressChart$ | async)?.length; as chartData) {
        <ngx-charts-bar-vertical
          *ngIf="projectProgressChart$ | async as chartData"
          [results]="chartData"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Progress"
          yAxisLabel="Count"
        >
        </ngx-charts-bar-vertical>
        } @else {
        <p>No progress data available</p>
        }
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
