.dashboard {
  &-metric-card__list {
    display: flex;
    width: 100%;
    gap: 30px;
    list-style: none;
    overflow-x: scroll;
    padding-bottom: 10px;

    &-item {
      width: 100%;
    }
  }
}
