.dashboard {
  &-metric-card__list {
    display: flex;
    width: 100%;
    gap: 30px;
    list-style: none;
    overflow-x: scroll;
    padding-bottom: 10px;

    &-item {
      width: 100%;
    }
  }

  &-recent-project {
    &__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      list-style: none;
      overflow-x: scroll;
      padding-bottom: 10px;
      gap: 30px;
    }

    &__title {
      text-align: center;
    }
  }

  &-project__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 30px;
  }

  &-content {
    display: flex;
    gap: 20px;

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
