<div style="flex: 1">
  <div>
    <h3>Основна статистика</h3>
    <ul class="dashboard-metric-card__list">
      @for (item of metricsData; track $index) {
      <li class="dashboard-metric-card__list-item">
        <shared-metric-card-item [data]="item" />
      </li>
      }
    </ul>
  </div>
  <div class="dashboard-content">
    <dashboard-filter-sidebar />
    <div class="dashboard-content__inner">
      <h3 class="dashboard-recent-project__title">Останні проєкти</h3>
      <ul class="dashboard-recent-project__list">
        @for (item of newestProjects; track $index) {
        <li class="dashboard-recent-project__list-item">
          <shared-project-card [project]="item" />
        </li>
        }
      </ul>
    </div>
  </div>
  <shared-frequent-links />
</div>
