.filter-sidebar {
  width: 300px;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #000;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;

    &-link {
      display: block;
      text-decoration: none;
      color: inherit;
      width: 100%;
      padding: 10px;
      text-align: center;
      background-color: #ececec;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #f0f0f0;
      }
    }
    &-title {
    }

    &-formfield {
    }

    &-checkbox {
    }

    &-interruptor {
      font-weight: 600;
    }
  }
}
